<div class="container custom-padding" *ngIf="normalsDiv">
  <div class="row">
    <div class="col">
      <h2 class="secheading">Have more questions about Attic Space Bangalore?<br><span class="underline-title">We have the answer</span></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 faq-section">
      <div id="accordion">
        <div class="card" *ngFor="let normal of normals;let i = index;">
          <div class="card-header col-12 d-inline-flex" id="headingOne">
            <h5 class="col-11 accordian_title mb-0 pl-0">{{ normal.question }} </h5>
            <button class=" col-1 btn btn-link float-right" data-toggle="collapse" [attr.data-target]="'#'+ normal.string" aria-expanded="true" [attr.aria-controls]="normal.string"><i class="fa fa-plus" style="color: #212529;"></i></button>
          </div>
          <div id="{{ normal.string }}" [class]="(i==0) ? 'collapse show' : 'collapse'" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">{{ normal.answer }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Footer Start -->
<section class="footer_form_section">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-sm-12 question_screen">
        <h4><img src="assets/images/hello_emogy.png">Book Your Office Space</h4>
        <br/><br/>
        <div class="container">
          <div class="row">
            <div class="hidden-lg-down col-xl-1">
              <p class="indicatePage">Start</p>
            </div>
            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-11">
              <section class="start__question">
                <p class="question__number"><span class="active-question">1</span>/6</p>
                <form action="/start" method="post" autocomplete="off">
                  <div id="question-1" class="question__wrapper " data-id="1">
                    <p class="question__title ">Let’s make the first step!</p>
                    <input id="question__question-1" class="question__question" placeholder="What’s your name?" type="text" name="name" autocomplete="off">
                  </div>
                  <div id="question-2" class="question__wrapper question__wrapper--inactive" data-id="2">
                    <p class="question__title ">Great to greet you</p>
                    <input id="question__question-2" class="question__question" placeholder="Are you looking for office space in Bangalore or Hyderabad?" type="text" name="how" readonly autocomplete="off">
                    <span>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline6" name="customRadioInline6" class="custom-control-input question__question radioBtn cursor-pointer" data-name="Bangalore" value="Bangalore">
                        <label class="custom-control-label" for="customRadioInline6">&nbsp; Bangalore</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline7" name="customRadioInline6" class="custom-control-input question__question radioBtn cursor-pointer" data-name="Hyderabad" value="Hyderabad">
                        <label class="custom-control-label" for="customRadioInline7">&nbsp; Hyderabad</label>
                      </div>
                    </span>
                  </div>
                  <div id="question-3" class="question__wrapper question__wrapper--inactive" data-id="3">
                    <p class="question__title ">Sounds like a plan!</p>
                    <input id="question__question-3" class="question__question" placeholder="For how many Members?" type="text" name="budget" autocomplete="off">
                  </div>
                  <div id="question-4" class="question__wrapper question__wrapper--inactive" data-id="4">
                    <p class="question__title ">We got you covered.</p>
                    <input id="question__question-4" class="question__question" placeholder="What kind of office space do you prefer?" type="text" name="deadline" readonly autocomplete="off">
                    <span>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline9" name="customRadioInline9" class="custom-control-input question__question radioBtn2 cursor-pointer" data-name="Ready to Move in" value="Ready to Move in" >
                        <label class="custom-control-label" for="customRadioInline9">&nbsp; Ready to Move in</label>
                      </div>
                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="customRadioInline10" name="customRadioInline9" class="custom-control-input question__question radioBtn2 cursor-pointer" data-name="Custom" value="Custom">
                        <label class="custom-control-label" for="customRadioInline10">&nbsp; Custom</label>
                      </div>
                    </span>
                  </div>
                  <div id="question-5" class="question__wrapper question__wrapper--inactive" data-id="5">
                    <p class="question__title ">Indeed A Brilliant Choice.</p>
                    <input id="question__question-5" class="question__question" placeholder="What's your best email?" type="text" name="email" autocomplete="off">
                  </div>
                  <div id="question-6" class="question__wrapper question__wrapper--inactive" data-id="6">
                    <p class="question__title ">An email is on your way!</p>
                    <input id="question__question-6" class="question__question" placeholder="Can we also have your phone number?" type="text" name="mobile" maxlength="10" autocomplete="off">
                  </div>
                  <div id="question-7" class="question__wrapper question__wrapper--inactive" data-id="7">
                    <p class="confirm__title question__title ">we’re glad that you took your first step! Now it’s our time to help you stand out.</p>
                    <p class="confirm__p"></p>
                  </div>
                  <div class="next__wrapper">
                    <i class="fas fa-chevron-circle-right"></i>
                    <input class="next__button white-text" readonly="readonly" value="Next question">
                  </div>
                  <div class="error__wrapper" style="opacity: 0;">
                    <i class="fas fa-question-circle error__icon"></i>
                    <p class="error__message white-text">Don’t be shy, please fill the fields correctly.</p>
                  </div>
                </form>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<!--<div class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-sm-12 question_screen">
        <h4><img src="assets/images/hello_emogy.png">Book Your Office Space</h4>
        <br /><br />
        <div class="container">
          <div class="row">
            <div class="hidden-lg-down col-xl-1">
              <p class="indicatePage">Start</p>
            </div>
            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-11">
              <section class="start__question">
                <p class="question__number">1/{{ total }}</p>
                <div id="carousel-demo" class="carousel slide" data-ride="carousel">
                  <div class="carousel-inner">
                    <div *ngFor="let question of questions;let i = index;" [class]="(i == 0) ? 'question__wrapper carousel-item active' : 'question__wrapper carousel-item'">
                      <h2 class="question__title ">{{ question.question }} <br />
                        <input type="text" class="footer-input question__question" placeholder="What's your Answer?"></h2>
                      <br /><br />
                    </div>
                  </div>
                  <a href="#carousel-demo" class="next-step" data-slide="next"><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>&nbsp; Next Question</a><br /><br /><br /><br />
                  &lt;!&ndash;slider control for card&ndash;&gt;
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>-->

<section class="footer">
  <div class="row">
    <div class="container">
      <section class="social-links ">
        <a routerLink="/all-locations" class="location-link">All Locations <i class="arrow"></i></a>
        <div class="social-icons ">
          <i class="fab fa-facebook-f"></i>
          <i class="fab fa-twitter"></i>
          <i class="fab fa-instagram"></i>
          <i class="fab fa-linkedin-in"></i>
        </div>
      </section>
      <section class="quick-links">
        <div class="col-md-3 col-sm-12">
          <h4>COMPANY</h4>
          <ul class="list-unstyled">
            <li><a href="javascript:void(0);">About Us </a></li>
            <li><a href="javascript:void(0);">Team </a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12">
          <h4>PARTNERSHIPS</h4>
          <ul class="list-unstyled">
            <li><a href="javascript:void(0);">Brokers</a></li>
            <li><a href="javascript:void(0);">Landlords</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12">
          <h4>IMPACT</h4>
          <ul class="list-unstyled">
            <li><a routerLink="/ideas">Ideas</a></li>
            <li><a href="javascript:void(0);">Calculator</a></li>
          </ul>
        </div>
        <div class="col-md-3 col-sm-12 pr-0">
          <h4>UPCOMING LOCATIONS</h4>
          <form class="footer-form">
            <label class="form-group has-float-label">
              <span class="select-input-img">
                  <svg width="12" height="16" viewBox="0 0 12 16" xmlns="http://www.w3.org/2000/svg">
                  <path d="M6 16S0 9.312 0 6a6 6 0 0 1 12 0c0 3.313-6 10-6 10zM6 1a5 5 0 0 0-5 5c0 2.761 5 8.499 5 8.499S11 8.761 11 6a5 5 0 0 0-5-5zm0 8a3 3 0 1 1 0-6 3 3 0 0 1 0 6zm0-5a2 2 0 1 0 0 4 2 2 0 0 0 0-4z">
                  </path>
                </svg>
              </span>
              <select class="form-control " style="color: #495057;">
                <option>Bengalore</option>
                <option>Hydrabad</option>
              </select>
              <span class="selection" style="top: 0;">Select City</span>
            </label>
            <label class="form-group has-float-label">
              <input class="form-control" type="email" placeholder="email@example.com"/>
              <span>Email address</span>
            </label>
            <label class="form-group has-float-label">
              <input class="form-control" type="number" placeholder="1234567890"/>
              <span>Phone Number</span>
            </label>
            <button type="submit" class="btn btn-footer-form"> <span><img src="assets/images/notify-me.png" alt=""></span> Notify Me</button>
          </form>
        </div>
      </section>
      <section class="footer-bottom">
        <div class="info-container">
          <div class="contact-info">
            <a href="tel:080 4717 8622">080 4717 8622</a>
            <a href="mailto:info@atticspace.in  ">info@atticspace.in </a>
            <address>#612, Basil Moneta, Koramangala <br>
              4th block, 80ft road, Bengaluru - 560034 </address>
          </div>
        </div>
        <div class="copyright-info">
          <div class="link-container">
            <div class="q-links">
              <ul class="list-unstyled d-inline-flex">
                <li><a routerLink="/privacy-policy">Privacy</a></li>
                <li><a routerLink="/terms-condition">Terms</a></li>
                <li><a href="javascript:void(0);">Cookies</a></li>
                <li><a routerLink="/site-map">Sitemap</a></li>
              </ul>
            </div>
            <div class="copyright">
              <p> Company {{ year }} Attic Companies Inc. All Rights Reserved</p>
            </div>
          </div>
          <div class="footer-logo">
            <div class="footer-logo-container">
              <img src="assets/images/logo-black.png" alt="">
            </div>
          </div>
        </div>
      </section>
    </div>
  </div>
</section>
<!-- Footer End -->
<!-- modal -->
<section class="modal-body modal1">
  <div class="contact-us-background"></div>
  <div class="contact-us-modal-content">
    <button type="button" class="button-modal button-plain" style="cursor: pointer;"> <i class="fa fa-times"></i></button>
    <section class="form-layout-wrapper  contact-us-modal-form-wrapper">
      <div class="form-header-section ">
        <p class="m-0"> <span style="color: var(--primary);"> 13</span> NEW AGE TECH ENABLED WORKSPACES</p>
        <p style="color: #666666;">BANGALORE | HYDERABAD</p>
      </div>
      <div class="form-body-section">
        <div class="input-group md-form form-sm form-2 pl-0">
          <input id="myInput" class="autocomplete form-control my-0 py-1 gray-border" type="text" placeholder="Search for a location near you" aria-label="Search" (keyup)="searchProperty($event.target.value)">
          <div class="input-group-append"><span class="input-group-text btn-search" id="basic-text1">
              <i class="fas fa-search" aria-hidden="true"></i></span>
          </div>
        </div>
        <div class="searched visible">
          <div class="search-item cursor-pointer" *ngFor="let searchProperty of searchProperties;" [routerLink]="['/property/'+ searchProperty.slug]">
            <div class="search-img">
              <img [src]="searchProperty.image" alt="">
            </div>
            <div class="search-content">
              <h6>{{ searchProperty.name }}</h6>
              <p>{{ searchProperty.location }}</p>
              <p><span>{{ searchProperty.square_feet }}</span>SFT</p>
            </div>
          </div>
        </div>
        <div class="all-location-link button-modal">
          <a href="javascript:void(0);">SEE ALL LOCATIONS</a>
        </div>
      </div>
    </section>
  </div>
</section>
<!-- Model 2-->
<section class="modal-body  modal2">
  <div class="contact-us-background"></div>
  <div class="contact-us-modal-content"><button type="button" class="button-modal button-plain " style="cursor: pointer;"> <i class="fa fa-times"></i></button>
    <section class="form-layout-wrapper  contact-us-modal-form-wrapper">
      <div class="form-header-section text-left">
        <h2 style="font-weight: 900;">Contact Us</h2>
        <p style="color: #666666;">Reach Out to us on +{{ officeContact.jobMobile }}</p>
      </div>
      <div class="msg-success" *ngIf="contactFormDivMessage">
        <p>{{ contactMessage }}</p>
      </div>
      <div class="form-body-section p-0" *ngIf="contactFormDiv">
        <form class="contactform" autocomplete="off" [formGroup]="contactForm" (submit)="onSubmit()">
          <div class="row col-12 m-auto text-left ">
            <div class="input-group col-lg-12 col-md-12 p-0" [ngClass]="{
                'has-error': (contactForm.get('name').hasError('required') || contactErrors.name) && contactForm.get('name').touched
              }">
              <input type="text " class="form-control" placeholder="Name*" autocomplete="off" formControlName="name">
            </div>
            <em class="has-error" *ngIf="contactForm.get('name').hasError('required') && contactForm.get('name').touched">
              Full Name is required
            </em>
          </div>
          <div class="row col-12 m-auto text-left ">
            <div class="input-group col-lg-12 col-md-12 p-0" [ngClass]="{
                'has-error': (contactForm.get('email').hasError('required') || contactErrors.email) && contactForm.get('email').touched
              }">
              <input type="email " class="form-control" placeholder="Email Id*" autocomplete="off" formControlName="email" required>
            </div>
            <em class="has-error" *ngIf="contactForm.get('email').hasError('required') && contactForm.get('email').touched">
              Email is required
            </em>
            <em class="has-error" *ngIf="contactForm.get('email').hasError('pattern')">
              Email is invalid
            </em>
          </div>
          <div class="row col-12 m-auto text-left">
            <div class="input-group col-lg-12 col-md-12 p-0" [ngClass]="{
                'has-error': (contactForm.get('phone').hasError('required') || contactErrors.phone) && contactForm.get('phone').touched
              }">
              <!-- <label>PHONE NUMBER*</label> -->
              <div class="input-group-prepend">
                <span class="input-group-text" id="basic-addon1"><img src="../assets/images/india.jpg" alt="">
                  <select class="form-group" data-countries="">
                    <option value="1">+91</option>
                    <option value="1"><img src="assets/images/india.jpg" alt="">+91</option>
                  </select>
                </span>
              </div>
              <input type="number" class="form-control" placeholder="Phone No*" aria-describedby="basic-addon1" autocomplete="off" formControlName="phone" required>
            </div>
            <em class="has-error" *ngIf="contactForm.get('phone').hasError('required') && contactForm.get('phone').touched">
              Phone is required
            </em>
          </div>
          <div class="row col-12 m-auto text-left ">
            <div class="input-group col-lg-12 col-md-12 p-0" [ngClass]="{
                'has-error': (contactForm.get('companyName').hasError('required') || contactErrors.companyName) && contactForm.get('companyName').touched
              }">
              <input type="text " class="form-control" placeholder="Company" autocomplete="off" formControlName="companyName" required>
            </div>
            <em class="has-error" *ngIf="contactForm.get('companyName').hasError('required') && contactForm.get('companyName').touched">
              Company Name is required
            </em>
          </div>
          <div class="row col-12 m-auto text-left teamRadio">
            <label>Team</label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input" value="1-10" (change)="onItemChange($event.target.value)">
              <label class="custom-control-label" for="customRadioInline1">1-10</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input" value="10-50" (change)="onItemChange($event.target.value)">
              <label class="custom-control-label" for="customRadioInline2">10-50</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input" value="50-100" (change)="onItemChange($event.target.value)">
              <label class="custom-control-label" for="customRadioInline3">50-100</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline4" name="customRadioInline1" class="custom-control-input" value="100+" (change)="onItemChange($event.target.value)">
              <label class="custom-control-label" for="customRadioInline4">100+</label>
            </div>
          </div>
          <div class="row col-12 m-auto text-left">
            <div class="contact-form-group col-12 p-0">
              <button type="submit" class="btn contact-btn" [disabled]="!contactForm.valid">Submit</button>
<!--              <a href="" class="btn contact-btn"> SUBSCRIBE</a>-->
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</section>

<!-- Model 3 Start -->
<section class="modal-body  modal3">
  <div class="contact-us-background"></div>
  <div class="contact-us-modal-content">
    <button type="button" class="button-modal button-plain "> <i class="fa fa-times"></i></button>
    <div class="navbar-nav3">
      <ul id="fresponsive" class="nav navbar-nav3">
        <li class="dropdown menu1">
          <a href="javascript:void(0);">Locations<span class="caret"></span></a>
          <div>
            <ul>
              <li><a routerLink="/Bangalore">Bangalore</a></li>
              <!--<li>
                <a href="javascript:void(0);" class="special-link" style="color: #000 !important; font-size: 14px;"> <span style=" font-size: 14px;">NEW</span> Attic Lotus </a>
              </li>
              <li class="divider"></li>-->
              <li><a routerLink="/Hydrabad">Hydrabad</a></li>
            </ul>

          </div>
        </li>
        <li class="dropdown menu2">
          <a href="javascript:void(0);">Space Solutions<span class="caret"></span></a>
          <div >
            <ul>
              <li><a routerLink="/ready-to-move">Ready to Move </a></li>
<!--              <li class="divider"></li>-->
              <li><a href="javascript:void(0);">Custom Build </a></li>
            </ul>
          </div>
        </li>
        <li><a style="color: #000;" routerLink="/support">Support</a></li>
      </ul>
      <div class="ray-page-container mobile-menu-item">
        <div class="nav-questions">Have Questions or need Help?</div>
        <a class="support-phone-number" href="tel:080 4717 8622">Call 080 4717 8622</a>
      </div>
    </div>
  </div>
</section>
<!-- Model 3 End -->
