<div class="container custom-padding">
  <div class="row">
    <div class="col">
      <h2 class="secheading">Have more questions about Attic Space Bangalore?<br><span class="underline-title">We have the answer</span></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 faq-section">
      <div id="accordion">
        <div class="card" *ngFor="let normal of normals;">
          <div class="card-header col-12 d-inline-flex" id="{{normal.string}}">
            <h5 class="col-11 accordian_title mb-0 pl-0">{{ normal.question }}</h5>
            <button class=" col-1 btn btn-link float-right" data-toggle="collapse" [attr.data-target]="'#'+ normal.string" aria-expanded="true" [attr.aria-controls]="normal.string"><i class="fa fa-plus" style="color: #212529;"></i></button>
          </div>
          <div id="{{ normal.string }}" class="collapse show" [attr.aria-labelledby]="normal.string" data-parent="#accordion">
            <div class="card-body">{{ normal.answer }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer Start -->
<div class="footer_section">
  <div class="container">
    <div class="row">
      <div class="col-md-11 col-sm-12 question_screen">
        <h4><img src="assets/images/hello_emogy.png">Book Your Office Space</h4>
        <br/><br/>
        <div class="container">
          <div class="row">
            <div class="hidden-lg-down col-xl-1">
              <p class="indicatePage">Start</p>
            </div>
            <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-11">
              <section class="start__question">
                <p class="question__number">1/{{ total }}</p>
                <!--<form action="/start" method="post" autocomplete="off">
                  <div id="question-1" class="question__wrapper ">
                    <p class="question__title ">Let’s make the first step!</p>
                    <input id="question__question-1" class="question__question" placeholder="What’s your name?" type="text" name="name">
                  </div>
                  <div id="question-2" class="question__wrapper question__wrapper&#45;&#45;inactive">
                    <p class="question__title ">Nice to meet you</p>
                    <input id="question__question-2" class="question__question" placeholder="How can we help you?" type="text" name="how">
                  </div>
                  <div id="question-3" class="question__wrapper question__wrapper&#45;&#45;inactive">
                    <p class="question__title ">Sounds like a plan!</p>
                    <input id="question__question-3" class="question__question" placeholder="What's your budget?" type="text" name="budget">
                  </div>
                  <div id="question-4" class="question__wrapper question__wrapper&#45;&#45;inactive">
                    <p class="question__title ">Good things always have a price!</p>
                    <input id="question__question-4" class="question__question" placeholder="What's your deadline?" type="text" name="deadline">
                  </div>
                  <div id="question-5" class="question__wrapper question__wrapper&#45;&#45;inactive">
                    <p class="question__title ">We’re glad it’s not yesterday!</p>
                    <input id="question__question-5" class="question__question" placeholder="What's your email?" type="text" name="email">
                  </div>
                  <div id="question-6" class="question__wrapper question__wrapper&#45;&#45;inactive">
                    <p class="confirm__title question__title ">we’re glad that you took your first step! Now it’s our time to help you stand out.</p>
                    <p class="confirm__p"></p>
                  </div>
                  <div class="next__wrapper">
                    <i class="fas fa-chevron-circle-right"></i>
                    <input class="next__button white-text" readonly="readonly" value="Next question">
                  </div>
                  <div class="error__wrapper" style="opacity: 0;">
                    <i class="fas fa-question-circle error__icon"></i>
                    <p class="error__message white-text">Don’t be shy, please fill the fields correctly.</p>
                  </div>
                </form>-->
                <div id="carousel-demo" class="carousel slide"  data-ride="carousel">
                  <div class="carousel-inner">
                    <div class="carousel-item active" *ngFor="let question of questions;let i = index;">
                      <h2 class="question__title ">{{ question.question }} <br/>
                        <input type="text" class="footer-input question__question" placeholder="What's your Answer?"></h2>
                      <br/><br/>
                    </div>
                    <!--<div class="carousel-item">
                      <h2>Let’s Vipul Vipul! <br/>
                        <input type="text" class="footer-input" placeholder="What's your name?"></h2>
                      <br/><br/>
                    </div>-->
                  </div>
                  <a href="#carousel-demo" class="next-step" data-slide="next" ><i class="fa fa-chevron-circle-right" aria-hidden="true"></i>&nbsp; Next Question</a><br /><br /><br /><br />
                  <!--slider control for card-->
                </div>
              </section>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-4 col-sm-12 footer_bars footer_bar_left float-left">
        <a routerLink="/privacy-policy">Privacy Policy</a>
        <a routerLink="/terms-condition">Terms of Use</a>
      </div>
      <div class="col-md-4 col-sm-12 footer_bars footer_bar_center">
        Company {{ year }} All Rights Reserved.
      </div>
      <div class="col-md-4 col-sm-12 footer_bars footer_bar_right float-right">
        DEVISED BY ATTIC
      </div>
    </div>
  </div>
</div>
<!-- Footer End -->
<!-- modal -->
<section class="modal-body modal1">
  <div class="contact-us-background"></div>
  <div class="contact-us-modal-content">
    <button type="button" class="button-modal button-plain" style="cursor: pointer;"> <i class="fa fa-times"></i></button>
    <section class="form-layout-wrapper  contact-us-modal-form-wrapper">
      <div class="form-header-section ">
        <p class="m-0"> <span style="color: var(--primary);"> 13</span> NEW-AGE TECH-ENABLED WORKSPACES</p>
        <p style="color: #666666;">BANGALORE | HYDERABAD</p>
      </div>
      <div class="form-body-section">
        <div class="input-group md-form form-sm form-2 pl-0">
          <input id="myInput" class="autocomplete form-control my-0 py-1 gray-border" type="text" placeholder="Search for a location near you" aria-label="Search">
          <div class="input-group-append"><span class="input-group-text btn-search" id="basic-text1">
                            <i class="fas fa-search text-white" aria-hidden="true"></i></span>
          </div>
        </div>
        <div class="all-location-link button-modal">
          <a href="javascript:void(0);">SEE ALL LOCATIONS</a>
        </div>
      </div>
    </section>
  </div>
</section>

<!-- Model 2-->
<section class="modal-body  modal2">
  <div class="contact-us-background"></div>
  <div class="contact-us-modal-content"><button type="button" class="button-modal button-plain " style="cursor: pointer;"> <i class="fa fa-times"></i></button>
    <section class="form-layout-wrapper  contact-us-modal-form-wrapper">
      <div class="form-header-section text-left">
        <h2 style="font-weight: 900;">Contact Us</h2>
        <p style="color: #666666;">Reach Out to us on +91 95386 11122</p>
      </div>
      <div class="form-body-section p-0">
        <form class="contactform" autocomplete="off">
          <div class="row col-12 m-auto text-left ">
            <div class="input-group col-lg-12 col-md-12 p-0 ">
              <input type="text " class="form-control" placeholder="Name*">
            </div>
          </div>
          <div class="row col-12 m-auto text-left ">
            <div class="input-group col-lg-12 col-md-12 p-0">
              <input type="text " class="form-control" placeholder="Email Id*">
            </div>
          </div>
          <div class="row col-12 m-auto text-left">
            <div class="input-group col-lg-12 col-md-12 p-0">
              <!-- <label>PHONE NUMBER*</label> -->
              <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon1"><img src="../assets/images/india.jpg" alt="">
                                    <select class="form-group" data-countries="">
                                        <option value="1">+91</option>
                                        <option value="1"><img src="assets/images/india.jpg" alt="">+91</option>
                                    </select>
                                </span>
              </div>
              <input type="number" class="form-control" placeholder="Phone No*" aria-describedby="basic-addon1">
            </div>
          </div>
          <div class="row col-12 m-auto text-left ">
            <div class="input-group col-lg-12 col-md-12 p-0">
              <input type="text " class="form-control" placeholder="Company">
            </div>
          </div>
          <div class="row col-12 m-auto text-left ">
            <label>Team</label>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline1">1-10</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline2">10-50</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline3">50-100</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" id="customRadioInline4" name="customRadioInline1" class="custom-control-input">
              <label class="custom-control-label" for="customRadioInline4">100+</label>
            </div>
          </div>
          <div class="row col-12 m-auto text-left">
            <div class="contact-form-group col-12 p-0">
              <a href="" class="btn contact-btn"> SUBSCRIBE</a>
            </div>
          </div>
        </form>
      </div>
    </section>
  </div>
</section>
