<app-menu></app-menu>
<div class="page-content">
  <!-- Slider section start here -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 ">
        <h1 class="bigtitle">Salarpuria Symbiosis</h1>
      </div>
      <div class="col-12 rating mt-2">
        <img src="assets/images/star-blue.png" alt="star">
        <span>4.4  |  181 reviews</span>
      </div>
    </div>
    <div class="row">
      <div class="position-sticky col-4 text-center">
        <div class="office-space">
          <h2 class="text-center mb-3">Office Space
          </h2>
          <div class="col-12 note-section">
            <p>Attic Monota is on High Demand - booking will be closed after 7 days</p>
          </div>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item w-50">
              <a class="nav-link active" id="enquire-tab" data-toggle="tab" href="#enquire" role="tab" aria-controls="enquire" aria-selected="true">Enquire</a>
            </li>
            <li class="nav-item w-50">
              <a class="nav-link" id="arrangevisit-tab" data-toggle="tab" href="#arrangevisit" role="tab" aria-controls="arrangevisit" aria-selected="false">Arrange Visit</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="enquire" role="tabpanel" aria-labelledby="enquire-tab">
              <form class="enquiryform pb-3" autocomplete="off" action="/action_page.php">
                <div class="row col-12 m-auto text-left">
                  <div class="enquiry-form-group col-lg-6 col-md-12 pr-1">
                    <label>First Name*</label>
                    <input type="text " class="enquiry-form-control" placeholder="First Name">
                  </div>
                  <div class="enquiry-form-group col-lg-6 col-md-12 pl-1">
                    <label>Last Name*</label>
                    <input type="text " class="enquiry-form-control" placeholder="Last Name">
                  </div>
                </div>
                <div class="row col-12 m-auto text-left">
                  <div class="enquiry-form-group col-12">
                    <label>Contact Number*</label>
                    <input type="number" class="enquiry-form-control" placeholder="Contact Number">
                  </div>
                </div>
                <div class="row col-12 m-auto text-left">
                  <div class="enquiry-form-group col-12">
                    <label for="products">Product of Interest*</label>
                    <select class="visit-form-control" id="products">
                      <option>Office Space</option>
                      <option>Residential Space</option>
                      <option>Corporate Space</option>
                      <option>Mall Space</option>
                      <option>Education Space</option>
                    </select>
                  </div>
                </div>
                <div class="row col-12 m-auto text-left">
                  <p class="agreetext">By clicking the above button you agree to our Terms of Service and have read and understood our Privacy Policy</p>
                </div>
                <div class="row col-12 m-auto text-center">
                  <div class="enquiry-form-group col-12">
                    <a href="" class="btn send-btn"> Send Inquiry</a>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="arrangevisit" role="tabpanel" aria-labelledby="arrangevisit-tab">
              <div class="bookvisit-tab">
                <form class="visitform" autocomplete="off" action="/action_page.php">
                  <div class="visit-tab-group ">
                    <input type="text" class="visit-input" placeholder="Your Full Name">
                  </div>
                  <div class="visit-tab-group ">
                    <input type="text" class="visit-input" placeholder="Your Email">
                  </div>
                  <div class="visit-tab-group ">
                    <input type="text" class="visit-input" placeholder="Your Mobile Number">
                  </div>
                  <div class="visit-tab-group text-left">
                    <label for="time">When would you like to visit?*</label>
                    <select class="visit-form-control" id="time">
                      <option>Today</option>
                      <option>Tomorrow</option>
                      <option>Sunday</option>
                      <option>Monday</option>
                      <option>Tuesday</option>
                    </select>
                  </div>
                  <div class="visit-tab-group ">
                    <select class="visit-form-control no-lable" id="time">
                      <option>00:00</option>
                      <option>01:00</option>
                      <option>02:00</option>
                      <option>03:00</option>
                      <option>04:00</option>
                      <option>05:00</option>
                      <option>06:00</option>
                      <option>07:00</option>
                      <option>08:00</option>
                      <option>09:00</option>
                      <option>10:00</option>
                      <option>11:00</option>
                      <option>12:00</option>
                      <option>13:00</option>
                      <option>14:00</option>
                      <option>15:00</option>
                      <option>16:00</option>
                      <option>17:00</option>
                      <option>18:00</option>
                      <option>19:00</option>
                      <option>20:00</option>
                      <option>21:00</option>
                      <option>22:00</option>
                      <option>23:00</option>
                    </select>
                  </div>
                  <div class="visit-tab-group ">
                    <a href="" class="btn book-btn"> Book Your Visit</a>
                    <p class="callustext">Call us at
                      <a href="tel:+917827948251" class="mobileno">+91 7827948251</a>
                    </p>
                  </div>

                </form>
              </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
          </div>

        </div>
      </div>
      <div class="col-lg-8 col-md-12 w-width">
        <div class="property-list">
          <section class="property slider">
            <div>
              <img src="assets/images/slide_img1.png">
            </div>
            <div>
              <img src="assets/images/slide_img1.png">
            </div>
            <div>
              <img src="assets/images/slide_img1.png">
            </div>
            <div>
              <img src="assets/images/slide_img1.png">
            </div>
            <div>
              <img src="assets/images/slide_img1.png">
            </div>
            <div>
              <img src="assets/images/slide_img1.png">
            </div>
          </section>
        </div>

        <div class="row ">
          <div class="col ">
            <h2 class="secheading ">Property Features</h2>
          </div>
        </div>
        <div class="row">
          <div class="property-features d-inline-flex">
            <div class="col-md-12 col-lg-3 col-sm-12 feature1 text-center">
              <div class="feature-img col-12">
                <img src="assets/images/features_1.png" alt="feature 1">
              </div>
              <div class="feature-content col-12">
                <h5>Gross Building area</h5>
                <p>54,066 Square Feet</p>
              </div>
            </div>
            <div class="col-md-12 col-lg-3 col-sm-12 feature2 text-center">
              <div class="feature-img col-12">
                <img src="assets/images/features_2.png" alt="feature 1">
              </div>
              <div class="feature-content col-12">
                <h5>Seating Capacity</h5>
                <p>700 Seats</p>
              </div>
            </div>
            <div class="col-md-12 col-lg-3 col-sm-12 feature3 text-center">
              <div class="feature-img col-12">
                <img src="assets/images/features_3.png" alt="feature 1">
              </div>
              <div class="feature-content col-12">
                <h5>Floors</h5>
                <p>Basement + Groumd + 3 + Terrace</p>
              </div>
            </div>
            <div class="col-md-12 col-lg-3 col-sm-12 feature4 text-center">
              <div class="feature-img col-12">
                <img src="assets/images/features_4.png" alt="feature 1">
              </div>
              <div class="feature-content col-12">
                <h5>Started In</h5>
                <p>2014</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-12 ">
            <h2 class="secheading ">Property Location</h2>
            <p class="text-gray">#57,13th Cross, Adugodi, Baldwins College <br> Road, Gajendra Nagar, Bengaluru - 560030</p>
          </div>
          <div class="map-container col-12">
            <img src="assets/images/map.png" alt="location">
          </div>
          <div class="map-details col-md-12 col-lg-8 col-sm-12">
            <div class="details-container pb-0 col-12 d-inline-flex">
              <div class="col-6 text-center  blue-container">
                <div class="info-container">
                  <h2>2.4 KM</h2>
                  <p class="mb-0">Forum Mall</p>
                </div>
              </div>
              <div class="col-6 text-center  dark-container">
                <div class="info-container">
                  <h2>1.4 KM</h2>
                  <p class="mb-0">Baldwins College</p>
                </div>
              </div>
            </div>
            <div class="details-container pb-0 col-12 d-inline-flex">
              <div class="col-6 text-center dark-container">
                <div class="info-container">
                  <h2>1.5 KM</h2>
                  <p class="mb-0">Bosch</p>
                </div>
              </div>
              <div class="col-6 text-center blue-container">
                <div class="info-container">
                  <h2>3.2 KM</h2>
                  <p class="mb-0">MG Road Metro Station</p>
                </div>
              </div>
            </div>
            <div class="details-container pb-0 col-12 d-inline-flex">
              <div class="col-6 text-center blue-container">
                <div class="info-container">
                  <h2>2.4 KM</h2>
                  <p class="mb-0">Life Care Hospital</p>
                </div>
              </div>
              <div class="col-6 text-center dark-container">
                <div class="info-container">
                  <h2>1.4 KM</h2>
                  <p class="mb-0">IOC Petrol Pump</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-12 ">
            <h2 class="secheading ">Available Workspace</h2>
            <a href="#" class="btn round-btn"><img class="pr-1" src="assets/images/icn_seat.png" alt="Hurry Up Now!">100 Seats Left</a>
          </div>
        </div>
        <div class="line col-12"> </div>
        <div class="details-container pb-0 col-12 d-inline-flex">
          <div class="col-2 text-center">
            <!-- <img src="assets/images/private_office.png" alt="Private Office"> -->
            <h2 class="bigtitle ">G1</h2>
          </div>
          <div class="col-10 ml-5">
            <h4>Private Offices <span><img src="assets/images/badge.png" alt="badge"></span></h4>
            <p>Lockable office space for teams all sizes</p>
          </div>
        </div>
        <div class="line col-12"> </div>
        <div class="details-container pb-0 col-12 d-inline-flex">
          <div class="col-2 text-center">
            <!-- <img src="assets/images/dedicated_desk.png" alt="Private Office"> -->
            <h2 class="bigtitle ">G2</h2>
          </div>
          <div class="col-10 ml-5">
            <h4>Dedicated Desk</h4>
            <p>Desk space in a shared lockable office</p>
          </div>
        </div>
        <div class="line col-12"> </div>
        <div class="details-container pb-0 col-12 d-inline-flex">
          <div class="col-2 text-center">
            <!-- <img src="assets/images/hot_desk_membership.png" alt="Private Office"> -->
            <h2 class="bigtitle ">G3</h2>
          </div>
          <div class="col-10 ml-5">
            <h4>Hot Desk Membership</h4>
            <p>On-demand access to shared workspace and common areas</p>
          </div>
        </div>
        <div class="line col-12"> </div>
        <div class="row">
          <div class="col-12 col-sm-12">
            <h5 class="pt-3 pb-3">UNIQUE TO THIS BUILDING</h5>
          </div>
          <div class="unique-section col-12 d-inline-flex p-0">
            <div class="title-padding col-6 col-sm-12">
              <h2>Parking</h2>
              <p>Life’s Too Short To Circle The Block Looking for a spot. Communicate like a pro thanks to a vehicular home- away-from-home. Prices and rates vary by location.</p>
            </div>
            <div class="title-padding col-6 col-sm-12">
              <h2>Event space</h2>
              <p>With a projector, sound system and lighting controls, loungers are easily converted for members meetups.</p>
            </div>
          </div>
          <div class="unique-section col-12 p-0">
            <div class="title-padding col-6 col-sm-12">
              <h2>Event space</h2>
              <p>With a projector, sound system and lighting controls, loungers are easily converted for members meetups.</p>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-12 col-sm-12">
            <h5 class="pt-3 pb-3">INCLUDED AMENITTES</h5>
          </div>
          <div class="unique-section col-12 d-inline-flex p-0">
            <div class="title-padding col-6 col-sm-12">
              <h2>Onsite staff</h2>
              <p>With years of operational expertise and service- focused backgrounds, our workplace team is here 9am-6pm, Mon-Fri, to provide everything you need to keep ypur office running smoothly.</p>
            </div>
            <div class="title-padding col-6 col-sm-12">
              <h2>Cleaning services</h2>
              <p>Around the clock, our cleaning crew helps keep common areas, meeting rooms, and private offices looking their spiffiest.</p>
            </div>
          </div>
          <div class="unique-section col-12 d-inline-flex p-0">
            <div class="title-padding col-6 col-sm-12">
              <h2>High-speed Wi-Fi</h2>
              <p>Hook yourself up to hard-wired Ethernet or secure Wi-Fi, including IT support and guest log-in functionality.
              </p>
            </div>
            <div class="title-padding col-6 col-sm-12">
              <h2>Professional & social events</h2>
              <p>From workshops to thought-leader panels and cheese tastings, our programming helps you nurture a strong team culture.</p>
            </div>
          </div>
          <div class="unique-section col-12 d-inline-flex p-0">
            <div class="title-padding col-6 col-sm-12">
              <h2>Unique common areas</h2>
              <p>The heart and soul of our locations, these lounges are living room-style spaces designed for creativity, comfort and productivity.</p>
            </div>
            <div class="title-padding col-6 col-sm-12">
              <h2>Meeting rooms</h2>
              <p>From brainstorming rooms with whiteboards and high-top tables to conversation rooms for informal meetings to presentation rooms with projectors and speakers, to specify rooms, we’ve got you covered.</p>
            </div>
          </div>
          <div class="unique-section col-12 p-0">
            <div class="title-padding col-6 col-sm-12">
              <h2>Complimentary refreshments</h2>
              <p>Stay caffeinated with free micro-roasted coffee, tea and keep your hydration up with refreshing fruit water at every WeWork location.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid ">
    <div class="row">
      <div class="about-user col-12 col-sm-12 d-inline-flex ">
        <img src="assets/images/user_img_1.png" alt="Here to help">
        <div class="user-content">
          <h5>HERE TO HELP</h5>
          <h2>Shikhs U.</h2>
          <p>The community management team adds a personal, professional touch to each <br>We Work building and is committed to empowering members in every possible way.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid ">
    <div class="row">
      <div class="col-12 text-center">
        <h2>OTHER CENTRES NEARBY</h2>
      </div>
      <div class="property-list col-md-12 col-lg-12 col-sm-12">
        <section class="center-nearby slider">
          <div>
            <div class="imgcontainer">
              <img src="assets/images/center-img1.png">
            </div>
            <div class="col-12 content-nby">
              <h5>The Estate</h5>
              <p>The Estate <br> Bangalore <br> 560042</p>
              <div class="col-12 btn-container d-inline-flex p-0">
                <p class="distance">0.1 Miles</p>
                <a href="#"><img src="assets/images/button-styled.png" alt="click Me"></a>
              </div>
            </div>
          </div>

          <div>
            <div class="imgcontainer">
              <img src="assets/images/center-img2.png">
            </div>
            <div class="col-12 content-nby">
              <h5>UB City</h5>
              <p>Level 14 & 15 <br> Bangalore <br> 560001
              </p>
              <div class="col-12 btn-container d-inline-flex p-0">
                <p class="distance">1.22 Miles</p>
                <a href="#"><img src="assets/images/button-styled.png" alt="click Me"></a>
              </div>
            </div>
          </div>

          <div>
            <div class="imgcontainer">
              <img src="assets/images/center-img3.png">
            </div>
            <div class="col-12 content-nby">
              <h5>Fairway</h5>
              <p>Fairway Business Park <br> Bangalore <br> 560001
              </p>
              <div class="col-12 btn-container d-inline-flex p-0">
                <p class="distance">2.44 Miles</p>
                <a href="#"><img src="assets/images/button-styled.png" alt="click Me"></a>
              </div>
            </div>
          </div>
          <div>
            <div class="imgcontainer">
              <img src="assets/images/center-img2.png">
            </div>
            <div class="col-12 content-nby">
              <h5>The Estate</h5>
              <p>The Estate <br> Bangalore <br> 560042</p>
              <div class="col-12 btn-container d-inline-flex p-0">
                <p class="distance">0.1 Miles</p>
                <a href="#"><img src="assets/images/button-styled.png" alt="click Me"></a>
              </div>
            </div>
          </div>

          <div>
            <div class="imgcontainer">
              <img src="assets/images/center-img3.png">
            </div>
            <div class="col-12 content-nby">
              <h5>UB City</h5>
              <p>Level 14 & 15 <br> Bangalore <br> 560001
              </p>
              <div class="col-12 btn-container d-inline-flex p-0">
                <p class="distance">1.22 Miles</p>
                <a href="#"><img src="assets/images/button-styled.png" alt="click Me"></a>
              </div>
            </div>
          </div>

          <div>
            <div class="imgcontainer">
              <img src="assets/images/center-img1.png">
            </div>
            <div class="col-12 content-nby">
              <h5>Fairway</h5>
              <p>Fairway Business Park <br> Bangalore <br> 560001
              </p>
              <div class="col-12 btn-container d-inline-flex p-0">
                <p class="distance">2.44 Miles</p>
                <a href="#"><img src="assets/images/button-styled.png" alt="click Me"></a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>

  <!-- page content ends here -->
  <!-- footer starts Here -->
  <div class="container-fluid custom-padding">
    <div class="row">
      <div class="col">
        <h2 class="secheading">Have more questions about Attic Space Bangalore?<br><span class="underline-title">We have the answer</span></h2>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-8 col-md-12 col-sm-12 faq-section">
        <div id="accordion">
          <div class="card">
            <div class="card-header col-12 d-inline-flex" id="headingOne">
              <h5 class="col-11 accordian_title mb-0 pl-0">What is Net Total Contract Value (TCV)? </h5>
              <button class=" col-1 btn btn-link float-right" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <!-- <img src="assets/images/collapsed-icn.png" alt="">
            <span><img src="assets/images/expand-icn.png" alt=""></span> -->
                <i class="fa fa-plus" style="color: #212529;"></i>
              </button>
            </div>
            <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header col-12 d-inline-flex" id="headingOne">
              <h5 class="col-11 accordian_title mb-0 pl-0">What is included in the Total Contract Value (TCV)?</h5>
              <button class=" col-1 btn btn-link float-right" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                <i class="fa fa-plus" style="color: #212529;"></i>
              </button>
            </div>
            <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header col-12 d-inline-flex" id="headingOne">
              <h5 class="col-11 accordian_title mb-0 pl-0">What happens if my client moves out of WeWork prior to their full commitment term? </h5>
              <button class=" col-1 btn btn-link float-right" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
                <i class="fa fa-plus" style="color: #212529;"></i>
              </button>
            </div>
            <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header col-12 d-inline-flex" id="headingOne">
              <h5 class="col-11 accordian_title mb-0 pl-0">What if the contract includes early exit options? How does this differ from termination fees? </h5>
              <button class=" col-1 btn btn-link float-right" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
                <i class="fa fa-plus" style="color: #212529;"></i>
              </button>
            </div>
            <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>
          <div class="card">
            <div class="card-header col-12 d-inline-flex" id="headingOne">
              <h5 class="col-11 accordian_title mb-0 pl-0">What information do I need to provide to submit an introduction?</h5>
              <button class=" col-1 btn btn-link float-right" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
                <i class="fa fa-plus" style="color: #212529;"></i>
              </button>
            </div>
            <div id="collapseFive" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
              <div class="card-body">
                craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </div>
<app-footer></app-footer>
