<app-menu></app-menu>
<div class="page-content">
  <!-- Slider section start here -->
  <div class="container-fluid">
    <div class="row">
      <div class="col-12 ">
        <h1 class="bigtitle">{{ property.name }}</h1>
      </div>
      <!--<div class="col-12 rating mt-2">
        <img src="assets/images/star-blue.png" alt="star">
        <span>0  |  0 reviews</span>
      </div>-->
    </div>
    <div class="row">
      <div class="position-sticky col-4 text-center">
        <div class="msg-success" *ngIf="(msgDiv && (message != '')) ? true : false">
          <p>{{ message }}</p>
        </div>
        <div class="office-space" *ngIf="enquiryDiv">
          <h2 class="text-center mb-3">Office Space</h2>
          <div class="col-12 note-section">
            <p>{{ property.formText }}</p>
          </div>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item w-50">
              <a class="nav-link active" id="enquire-tab" data-toggle="tab" href="#enquire" role="tab" aria-controls="enquire" aria-selected="true">Enquire</a>
            </li>
            <li class="nav-item w-50">
              <a class="nav-link" id="arrangevisit-tab" data-toggle="tab" href="#arrangevisit" role="tab" aria-controls="arrangevisit" aria-selected="false">Arrange Visit</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="enquire" role="tabpanel" aria-labelledby="enquire-tab">
              <form class="enquiryform pb-3" autocomplete="off" [formGroup]="enquiryForm" (submit)="onEnquirySubmit()">
                <div class="row col-12 m-auto text-left">
                  <div class="enquiry-form-group col-lg-6 col-md-12 pr-1" [ngClass]="{
                    'has-error': (enquiryForm.get('firstName').hasError('required') || enquiryErrors.firstName) && enquiryForm.get('firstName').touched
                  }">
                    <label>First Name*</label>
                    <input type="text " class="enquiry-form-control" placeholder="First Name" formControlName="firstName">
                    <em class="has-error" *ngIf="enquiryForm.get('firstName').hasError('required') && enquiryForm.get('firstName').touched">
                      First Name is required
                    </em>
                  </div>
                  <div class="enquiry-form-group col-lg-6 col-md-12 pl-1" [ngClass]="{
                    'has-error': (enquiryForm.get('lastName').hasError('required') || enquiryErrors.lastName) && enquiryForm.get('lastName').touched
                  }">
                    <label>Last Name*</label>
                    <input type="text " class="enquiry-form-control" placeholder="Last Name" autocomplete="off" formControlName="lastName">
                    <em class="has-error" *ngIf="enquiryForm.get('lastName').hasError('required') && enquiryForm.get('lastName').touched">
                      Last Name is required
                    </em>
                  </div>
                </div>
                <div class="row col-12 m-auto text-left">
                  <div class="enquiry-form-group col-12" [ngClass]="{
                    'has-error': (enquiryForm.get('mobile').hasError('required') || enquiryErrors.mobile) && enquiryForm.get('mobile').touched
                  }">
                    <label>Contact Number*</label>
                    <input type="text" class="enquiry-form-control mobile" placeholder="Contact Number" maxlength="10" autocomplete="off" formControlName="mobile">
                    <em class="has-error" *ngIf="enquiryForm.get('mobile').hasError('required') && enquiryForm.get('mobile').touched">
                      Mobile is required
                    </em>
                  </div>
                </div>
                <div class="row col-12 m-auto text-left">
                  <div class="enquiry-form-group col-12" [ngClass]="{
                    'has-error': (enquiryForm.get('product_of_interest').hasError('required') || enquiryErrors.product_of_interest) && enquiryForm.get('product_of_interest').touched
                  }">
                    <label for="products">Product of Interest*</label>
                    <select class="visit-form-control" id="products" formControlName="product_of_interest">
                      <option value="">Select Product of Interest</option>
                      <option *ngFor="let vseat of property.seats;" [value]="vseat">{{ vseat }}</option>
                      <!--<option value="Office Space">Office Space</option>
                      <option value="Residential Space">Residential Space</option>
                      <option value="Corporate Space">Corporate Space</option>
                      <option value="Mall Space">Mall Space</option>
                      <option value="Education Space">Education Space</option>-->
                    </select>
                    <em class="has-error" *ngIf="enquiryForm.get('product_of_interest').hasError('required') && enquiryForm.get('product_of_interest').touched">
                      Product of Interest is required
                    </em>
                  </div>
                </div>
                <div class="row col-12 m-auto text-left" [ngClass]="{
                    'has-error': (enquiryForm.get('checkbox').hasError('required') || enquiryErrors.checkbox) && enquiryForm.get('checkbox').touched
                  }">
                  <p class="agreetext" style="margin-left: 20px;"><input type="checkbox" (change)="onItemChange($event)" class="form-check-input" id="exampleCheck1" value="1"> <label class="form-check-label" for="exampleCheck1">{{ property.termsText }}</label></p>
                  <em class="has-error" *ngIf="enquiryForm.get('product_of_interest').hasError('required') && enquiryForm.get('product_of_interest').touched">
                    Terms & Condition required.
                  </em>
                </div>
                <div class="row col-12 m-auto text-center">
                  <div class="enquiry-form-group col-12">
                    <button type="submit" [disabled]="!enquiryForm.valid" class="btn send-btn">Send Enquiry</button>
                  </div>
                </div>
              </form>
            </div>
            <div class="tab-pane fade" id="arrangevisit" role="tabpanel" aria-labelledby="arrangevisit-tab">
              <div class="bookvisit-tab">
                <form class="visitform" autocomplete="off" [formGroup]="form" (submit)="onSubmit()">
                  <div class="visit-tab-group" [ngClass]="{
                    'has-error': (form.get('name').hasError('required') || errors.name) && form.get('name').touched
                  }">
                    <input type="text" class="visit-input" placeholder="Your Full Name" autocomplete="off" formControlName="name" required>
                    <em class="has-error" *ngIf="form.get('name').hasError('required') && form.get('name').touched">
                      Name is required
                    </em>
                  </div>
                  <div class="visit-tab-group " [ngClass]="{
                    'has-error': (form.get('email').hasError('required') || errors.email) && form.get('email').touched
                  }">
                    <input type="text" class="visit-input" placeholder="Your Email" autocomplete="off" formControlName="email" required>
                    <em class="has-error" *ngIf="form.get('email').hasError('required') && form.get('email').touched">
                      Email is required
                    </em>
                    <em class="has-error" *ngIf="form.get('email').hasError('pattern')">
                      Email is invalid
                    </em>
                  </div>
                  <div class="visit-tab-group" [ngClass]="{
                    'has-error': (form.get('mobile').hasError('required') || errors.mobile) && form.get('mobile').touched
                  }">
                    <input type="text" class="visit-input mobile" placeholder="Your Mobile Number" maxlength="10" autocomplete="off" formControlName="mobile" required>
                    <em class="has-error" *ngIf="form.get('mobile').hasError('required') && form.get('mobile').touched">
                      Mobile is required
                    </em>
                  </div>
                  <div class="visit-tab-group text-left" [ngClass]="{
                    'has-error': (form.get('day').hasError('required') || errors.day) && form.get('day').touched
                  }">
                    <label for="time">When would you like to visit?*</label>
                    <select class="visit-form-control" id="day" formControlName="day" required>
                      <option value="">Select Day</option>
                      <option *ngFor="let day of days" value="{{ day }}">{{ day }}</option>
                    </select>
                    <em class="has-error" *ngIf="form.get('day').hasError('required') && form.get('day').touched">
                      Day is required
                    </em>
                  </div>
                  <div class="visit-tab-group " [ngClass]="{
                    'has-error': (form.get('time').hasError('required') || errors.time) && form.get('time').touched
                  }">
                    <select class="visit-form-control no-lable" id="time" formControlName="time" required>
                      <option value="">Select Time</option>
                      <option *ngFor="let t of time" value="{{ t }}">{{ t }}</option>
                    </select>
                    <em class="has-error" *ngIf="form.get('time').hasError('required') && form.get('time').touched">
                      Time is required
                    </em>
                  </div>
                  <div class="visit-tab-group">
                    <input type="checkbox" (change)="onFormItemChange($event)" formControlName="checkboxs" style="margin-left: -120px;" class="form-check-input" id="exampleCheck2" value="1"> <p class="form-check-label" for="exampleCheck2">{{ property.termsText }}</p>
                    <em class="has-error" *ngIf="form.get('checkboxs').hasError('required') && form.get('checkboxs').touched">
                      Terms & Condition required.
                    </em>
                  </div>
                  <div class="visit-tab-group ">
                    <button type="submit" class="btn book-btn" [disabled]="!form.valid">Send Enquiry</button>
                    <p class="callustext">Call us at
                      <a href="tel:+917827948251" class="mobileno">+91 7827948251</a>
                    </p>
                  </div>
                </form>
              </div>
            </div>
            <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">...</div>
          </div>
        </div>
      </div>
      <div class="col-lg-8 col-md-12 w-width">
        <div class="property-list">
          <section class="property slider">
            <div *ngFor="let image of property.images;let i = index;">
              <img [src]="image">
            </div>
          </section>
        </div>

        <div class="row ">
          <div class="col ">
            <h2 class="secheading ">Property Features</h2>
          </div>
        </div>
        <div class="row">
          <div class="property-features d-inline-flex">
            <div *ngFor="let feature of propertyFeatures;let i = index;" [class]="'col-md-12 col-lg-3 col-sm-12 text-center feature'+(i+1)">
              <div class="feature-img col-12">
                <img [src]="feature.image" alt="feature" style="height: 115px;">
              </div>
              <div class="feature-content col-12">
                <h5>{{ feature.label }}</h5>
                <p>{{ feature.value }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="row ">
          <div class="col-12 ">
            <h2 class="secheading ">Property Location</h2>
            <p class="text-gray">#{{ property.address }}</p>
          </div>
          <div class="map-container col-12">
            <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.5524913731915!2d77.62538591430409!3d12.93645871914984!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae152c1520a7f5%3A0x103bfca33b5e41a2!2sAttic%20Space!5e0!3m2!1sen!2sae!4v1581273331108!5m2!1sen!2sae" width="600" height="600" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
<!--            <img src="assets/images/map.png" alt="location">-->
          </div>
          <div class="map-details col-md-12 col-lg-8 col-sm-12">
            <p><br><br><br><br><br><br><br><br></p>
            <div class="details-container pb-0 col-12 d-inline-flex">
              <div *ngFor="let nearLocation of property.nearLocations;let i = index;" [class]="(i%2 == 0) ? 'col-6 text-center dark-container' : 'col-6 text-center blue-container'">
                <div class="info-container">
                  <h2>{{ nearLocation.km }} KM</h2>
                  <p class="mb-0">{{ nearLocation.name }}</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row ">
          <div class="col-12 ">
            <h2 class="secheading ">Available Workspace</h2>
            <a href="javascript:void(0);" class="btn round-btn"><img class="pr-1" src="assets/images/icn_seat.png" alt="Hurry Up Now!">100 Seats Left</a>
          </div>
        </div>
        <div class="line col-12" *ngIf="(property.propertyWorkspaces.length > 0) ? true : false;"> </div>
        <span *ngFor="let propertyWorkspace of property.propertyWorkspaces;">
          <div class="details-container pb-0 col-12 d-inline-flex">
            <div class="col-2 text-center">
              <h2 class="bigtitle ">{{ propertyWorkspace.title }}</h2>
            </div>
            <div class="col-10 ml-5">
              <h4>{{ propertyWorkspace.sub_title }} <!--<span><img src="assets/images/badge.png" alt="badge"></span>--></h4>
              <p>{{ propertyWorkspace.third_title }}</p>
              <a *ngIf="(propertyWorkspace.isAvailable) ? true : false;" href="javascript:void(0);" class="btn round-btn" style="font-size: 14px; padding: 6px;">Not Available</a>
            </div>
          </div><div class="line col-12"> </div>
        </span>

        <div class="row" *ngIf="uniqueBuildDiv">
          <div class="col-12 col-sm-12">
            <h5 class="pt-3 pb-3">UNIQUE TO THIS BUILDING</h5>
          </div>
          <div class="unique-section col-12 p-0">
            <div class="title-padding col-6 col-sm-12" *ngFor="let uniqueBuild of property.uniqueBuilds;">
              <h2>{{ uniqueBuild.name }}</h2>
              <p>{{ uniqueBuild.description }}</p>
            </div>
          </div>
          <!--<div class="unique-section col-12 p-0">
            <div class="title-padding col-6 col-sm-12">
              <h2>Event space</h2>
              <p>With a projector, sound system and lighting controls, loungers are easily converted for members meetups.</p>
            </div>
          </div>-->
        </div>
        <div class="row" *ngIf="includedAmenityDiv">
          <div class="col-12 col-sm-12">
            <h5 class="pt-3 pb-3">INCLUDED AMENITTES</h5>
          </div>
          <div class="unique-section col-12 p-0">
            <div class="title-padding col-6 col-sm-12" *ngFor="let includedAmenity of property.includedAmenittes;">
              <h2>{{ includedAmenity.name }}</h2>
              <p>{{ includedAmenity.description }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid ">
    <div class="row">
      <div class="about-user col-12 col-sm-12 d-inline-flex ">
        <img [src]="property.support.image" alt="Here to help">
        <div class="user-content">
          <h5>HERE TO HELP</h5>
          <h2>{{ property.support.name }}</h2>
          <p>{{ property.support.mobile }}, {{ property.support.email }}</p>
          <p>{{ property.support.description }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid ">
    <div class="row">
      <div class="col-12 text-center">
        <h2>OTHER CENTRES NEARBY</h2>
      </div>
      <div class="property-list col-md-12 col-lg-12 col-sm-12">
        <section class="center-nearby slider">
          <div *ngFor="let row of properties">
            <div class="imgcontainer">
              <img [src]="row.image">
            </div>
            <div class="col-12 content-nby">
              <h5>{{ row.name }}</h5>
              <p>{{ row.city }}</p>
              <div class="col-12 btn-container d-inline-flex p-0">
                <p class="distance">{{ row.mile }} Miles</p>
                <a [routerLink]="['/office-space/'+ row.locationSlug+'/'+row.slug]"><img src="assets/images/button-styled.png" alt="click Me"></a>
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </div>
  <!-- page content ends here -->
<app-footer></app-footer>
