<app-menu></app-menu>
<div class="Gmap_section">
  <div class="container-fluid">
    <div class="row">
      <div class="content col-12">
        <div class="row d-flex">
          <div class="row col-12">
            <div class="autocomplete form-group d-inline-flex w-65vw">
              <label for="map_city">CHOOSE CITY</label>
              <select class="map-form-control banner-input-group" id="map_city" (change)="changeCity($event.target.value);">
                <option value="">All</option>
                <option *ngFor="let city of cities;" value="{{ city.id }}" >{{ city.name }}</option>
              </select>
              <div class="text-right m-auto" style="color: var(--primary);">
                <a href="javascript:void(0);" style="color: var(--primary); font-family: 'ApercuProBold';">{{ total }} WORKSPACES</a>
              </div>
            </div>
          </div>
          <div class="city-section col-lg-6 col-md-12 col-sm-12">
            <div class="map-location-container row col-12 p-0">
              <!-- location list item 1 -->
              <div class="map-locations row col-12" *ngFor="let property of properties;">
                <div class="image-section p-0 cursor-pointer" [routerLink]="['/property/'+ property.slug]">
                  <img class="w-100" [src]="property.image" alt="map goes here" style="height: 175px;">
                </div>
                <div class="detail-section">
                  <h6 class="cursor-pointer" [routerLink]="['/office-space/'+ property.locationSlug+'/'+ property.slug]">{{ property.name }}</h6>
                  <p >{{ property.address }}</p>
                  <p class="m-0"> <span class="statistic">{{ property.square_feet }}</span> SFT</p>
                  <!--<p> <span class="statistic"></span> {{ property.privateDescription }}</p>-->
                  <!--<a [routerLink]="['/property/'+ property.slug]">READY TO MOVE IN</a>-->
                </div>
                <div class="button-section">
                  <a style="cursor: pointer;color: #1a73e8;" (click)="mapMoveDevice(property);"><img src="assets/images/pin-icn.png" alt="View"> VIEW</a>
                </div>
              </div>
              <!-- location list item 1 -->
            </div>
          </div>
          <div class="col-lg-6 col-md-12 col-sm-12 map-frame">
            <div class="leaflet-maps"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
