<app-menu></app-menu>
<div class="page-content">
  <section class="support-section">
    <div class="row">
      <div class="container">
        <div class="support-request col-12">
          <div class="form-group col-lg-8 col-md-8 col-sm-12">
            <label style="color: #7a7979;">Support</label>
            <span class="search-input-img"><img src="assets/images/search-gray.png" alt="search-icn"></span>
            <input type="text" class="form-control" placeholder="I am looking for...">

          </div>
          <div class="form-group col-lg-4 col-md-4 col-sm-12">
            <a class="request-submit" href="#">Submit A Request</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- accordian-section -->
  <section class="accordian-section">
    <div class="row">
      <div class="container">
        <div class="support-accordian ">
          <ul class="position-sticky nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" id="General-tab" data-toggle="tab" href="#General" role="tab" aria-controls="General" aria-selected="true"><div></div> General</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="Memberships-Packages-tab" data-toggle="tab" href="#Memberships-Packages" role="tab" aria-controls="Memberships-Packages" aria-selected="false"><div></div>Memberships & Packages</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="Payments-Credits-tab" data-toggle="tab" href="#Payments-Credits" role="tab" aria-controls="Payments-Credits" aria-selected="false"><div></div>Payments & Credits</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="Facilities-Amenities-tab" data-toggle="tab" href="#Facilities-Amenities" role="tab" aria-controls="Facilities-Amenities" aria-selected="false"><div></div>Facilities & Amenities</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="Alliances-tab" data-toggle="tab" href="#Alliances" role="tab" aria-controls="Alliances" aria-selected="false"><div></div>Alliances</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" id="IT-Technology-tab" data-toggle="tab" href="#IT-Technology" role="tab" aria-controls="IT-Technology" aria-selected="false"><div></div>IT & Technology</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="General" role="tabpanel" aria-labelledby="General-tab">
              <h2>General</h2>
              <div class="support-qa">
                <h5>What are CoWrks’ operating hours?</h5>
                <p>Our hours of operation are 9am to 6pm. Monday to Saturday. Private studios and dedicated desks will have key card access to the office 24*7.</p>
              </div>
              <div class="support-qa">
                <h5>Do I get access to all CoWrks locations?</h5>
                <p>If you are a member at one centre, you get key card access to all our centres. Furthermore, the CoWrks Connect app allows you not only to book meeting rooms at other locations but also get access to printers, Wi-Fiand
                  the fuel bar.</p>
              </div>
              <div class="support-qa">
                <h5>If I want to visit CoWrks, do I need to schedule a tour or can I just walk in?</h5>
                <p>Feel free to walk into any of the CoWrks centres. But we suggest you schedule a tour with us either by calling us on: +91-8880000220 or emailing us on: communication@cowrks.com.</p>
              </div>
            </div>
            <div class="tab-pane fade" id="Memberships-Packages" role="tabpanel" aria-labelledby="Memberships-Packages-tab">
              <h2>Memberships-Packages</h2>
              <div class="support-qa">
                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h5>
                <p>Donec pulvinar eget diam nec tristique. Mauris mi magna, faucibus ac tellus et, dapibus efficitur ex. Proin convallis molestie sem, eget blandit nulla tempus in.</p>
              </div>
              <div class="support-qa">
                <h5>Proin hendrerit mauris cursus ex bibendum, quis maximus ante dapibus?</h5>
                <p>Ut lacus lacus, feugiat a sapien et, efficitur aliquet elit. Sed vitae dui feugiat mi ultrices finibus at at eros. Aenean placerat eros finibus augue euismod mollis. Praesent feugiat risus quis ex dapibus ornare
                  sit amet id erat.</p>
              </div>
              <div class="support-qa">
                <h5>Cras a consectetur massa, et dapibus magna?</h5>
                <p>Nunc aliquam erat est, ac ultricies tellus aliquet ac. Pellentesque varius ligula vitae ornare aliquam. Quisque in nisi et nisl dictum lacinia aliquet et purus. Vestibulum vel mi augue. Integer laoreet est magna,
                  et consequat libero congue sed.</p>
              </div>
            </div>
            <div class="tab-pane fade" id="Payments-Credits" role="tabpanel" aria-labelledby="Payments-Credits-tab">
              <h2>Payments-Credits</h2>
              <div class="support-qa">
                <h5>What are CoWrks’ operating hours?</h5>
                <p>Our hours of operation are 9am to 6pm. Monday to Saturday. Private studios and dedicated desks will have key card access to the office 24*7.</p>
              </div>
              <div class="support-qa">
                <h5>Do I get access to all CoWrks locations?</h5>
                <p>If you are a member at one centre, you get key card access to all our centres. Furthermore, the CoWrks Connect app allows you not only to book meeting rooms at other locations but also get access to printers, Wi-Fiand
                  the fuel bar.</p>
              </div>
              <div class="support-qa">
                <h5>If I want to visit CoWrks, do I need to schedule a tour or can I just walk in?</h5>
                <p>Feel free to walk into any of the CoWrks centres. But we suggest you schedule a tour with us either by calling us on: +91-8880000220 or emailing us on: communication@cowrks.com.</p>
              </div>
            </div>
            <div class="tab-pane fade" id="Facilities-Amenities" role="tabpanel" aria-labelledby="Facilities-Amenities-tab">
              <h2>Facilities-Amenities</h2>
              <div class="support-qa">
                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h5>
                <p>Donec pulvinar eget diam nec tristique. Mauris mi magna, faucibus ac tellus et, dapibus efficitur ex. Proin convallis molestie sem, eget blandit nulla tempus in.</p>
              </div>
              <div class="support-qa">
                <h5>Proin hendrerit mauris cursus ex bibendum, quis maximus ante dapibus?</h5>
                <p>Ut lacus lacus, feugiat a sapien et, efficitur aliquet elit. Sed vitae dui feugiat mi ultrices finibus at at eros. Aenean placerat eros finibus augue euismod mollis. Praesent feugiat risus quis ex dapibus ornare
                  sit amet id erat.</p>
              </div>
              <div class="support-qa">
                <h5>Cras a consectetur massa, et dapibus magna?</h5>
                <p>Nunc aliquam erat est, ac ultricies tellus aliquet ac. Pellentesque varius ligula vitae ornare aliquam. Quisque in nisi et nisl dictum lacinia aliquet et purus. Vestibulum vel mi augue. Integer laoreet est magna,
                  et consequat libero congue sed.</p>
              </div>
            </div>
            <div class="tab-pane fade" id="Alliances" role="tabpanel" aria-labelledby="Alliances-tab">
              <h2>Alliances</h2>
              <div class="support-qa">
                <h5>What are CoWrks’ operating hours?</h5>
                <p>Our hours of operation are 9am to 6pm. Monday to Saturday. Private studios and dedicated desks will have key card access to the office 24*7.</p>
              </div>
              <div class="support-qa">
                <h5>Do I get access to all CoWrks locations?</h5>
                <p>If you are a member at one centre, you get key card access to all our centres. Furthermore, the CoWrks Connect app allows you not only to book meeting rooms at other locations but also get access to printers, Wi-Fiand
                  the fuel bar.</p>
              </div>
              <div class="support-qa">
                <h5>If I want to visit CoWrks, do I need to schedule a tour or can I just walk in?</h5>
                <p>Feel free to walk into any of the CoWrks centres. But we suggest you schedule a tour with us either by calling us on: +91-8880000220 or emailing us on: communication@cowrks.com.</p>
              </div>
            </div>
            <div class="tab-pane fade" id="IT-Technology" role="tabpanel" aria-labelledby="IT-Technology-tab">
              <h2>IT-Technology</h2>
              <div class="support-qa">
                <h5>Lorem ipsum dolor sit amet, consectetur adipiscing elit?</h5>
                <p>Donec pulvinar eget diam nec tristique. Mauris mi magna, faucibus ac tellus et, dapibus efficitur ex. Proin convallis molestie sem, eget blandit nulla tempus in.</p>
              </div>
              <div class="support-qa">
                <h5>Proin hendrerit mauris cursus ex bibendum, quis maximus ante dapibus?</h5>
                <p>Ut lacus lacus, feugiat a sapien et, efficitur aliquet elit. Sed vitae dui feugiat mi ultrices finibus at at eros. Aenean placerat eros finibus augue euismod mollis. Praesent feugiat risus quis ex dapibus ornare
                  sit amet id erat.</p>
              </div>
              <div class="support-qa">
                <h5>Cras a consectetur massa, et dapibus magna?</h5>
                <p>Nunc aliquam erat est, ac ultricies tellus aliquet ac. Pellentesque varius ligula vitae ornare aliquam. Quisque in nisi et nisl dictum lacinia aliquet et purus. Vestibulum vel mi augue. Integer laoreet est magna,
                  et consequat libero congue sed.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="support-accordian-mini">
          <div id="accordion">
            <div class="card">
              <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                  <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    General
                  </button>
                </h5>
              </div>

              <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                <div class="card-body">
                  <div class="tab-pane fade show active" id="General" role="tabpanel" aria-labelledby="General-tab">
                    <h2>General</h2>
                    <div class="support-qa">
                      <h5>What are CoWrks’ operating hours?</h5>
                      <p>Our hours of operation are 9am to 6pm. Monday to Saturday. Private studios and dedicated desks will have key card access to the office 24*7.</p>
                    </div>
                    <div class="support-qa">
                      <h5>Do I get access to all CoWrks locations?</h5>
                      <p>If you are a member at one centre, you get key card access to all our centres. Furthermore, the CoWrks Connect app allows you not only to book meeting rooms at other locations but also get access to
                        printers, Wi-Fiand the fuel bar.</p>
                    </div>
                    <div class="support-qa">
                      <h5>If I want to visit CoWrks, do I need to schedule a tour or can I just walk in?</h5>
                      <p>Feel free to walk into any of the CoWrks centres. But we suggest you schedule a tour with us either by calling us on: +91-8880000220 or emailing us on: communication@cowrks.com.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingTwo">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                    Memberships-Packages
                  </button>
                </h5>
              </div>
              <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                <div class="card-body">
                  <div class="tab-pane  fade show active" id="Memberships-Packages" role="tabpanel" aria-labelledby="Memberships-Packages-tab">
                    <h2>Memberships-Packages</h2>
                    <div class="support-qa">
                      <h5>What are CoWrks’ operating hours?</h5>
                      <p>Our hours of operation are 9am to 6pm. Monday to Saturday. Private studios and dedicated desks will have key card access to the office 24*7.</p>
                    </div>
                    <div class="support-qa">
                      <h5>Do I get access to all CoWrks locations?</h5>
                      <p>If you are a member at one centre, you get key card access to all our centres. Furthermore, the CoWrks Connect app allows you not only to book meeting rooms at other locations but also get access to
                        printers, Wi-Fiand the fuel bar.</p>
                    </div>
                    <div class="support-qa">
                      <h5>If I want to visit CoWrks, do I need to schedule a tour or can I just walk in?</h5>
                      <p>Feel free to walk into any of the CoWrks centres. But we suggest you schedule a tour with us either by calling us on: +91-8880000220 or emailing us on: communication@cowrks.com.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingThree">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                    Payments-Credits
                  </button>
                </h5>
              </div>
              <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                <div class="card-body">
                  <div class="tab-pane fade show active" id="Payments-Credits" role="tabpanel" aria-labelledby="Payments-Credits-tab">
                    <h2>Payments-Credits</h2>
                    <div class="support-qa">
                      <h5>What are CoWrks’ operating hours?</h5>
                      <p>Our hours of operation are 9am to 6pm. Monday to Saturday. Private studios and dedicated desks will have key card access to the office 24*7.</p>
                    </div>
                    <div class="support-qa">
                      <h5>Do I get access to all CoWrks locations?</h5>
                      <p>If you are a member at one centre, you get key card access to all our centres. Furthermore, the CoWrks Connect app allows you not only to book meeting rooms at other locations but also get access to
                        printers, Wi-Fiand the fuel bar.</p>
                    </div>
                    <div class="support-qa">
                      <h5>If I want to visit CoWrks, do I need to schedule a tour or can I just walk in?</h5>
                      <p>Feel free to walk into any of the CoWrks centres. But we suggest you schedule a tour with us either by calling us on: +91-8880000220 or emailing us on: communication@cowrks.com.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFour">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                    Facilities-Amenities
                  </button>
                </h5>
              </div>
              <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                <div class="card-body">
                  <div class="tab-pane fade show active" id="Facilities-Amenities" role="tabpanel" aria-labelledby="Facilities-Amenities-tab">
                    <h2>Facilities-Amenities</h2>
                    <div class="support-qa">
                      <h5>What are CoWrks’ operating hours?</h5>
                      <p>Our hours of operation are 9am to 6pm. Monday to Saturday. Private studios and dedicated desks will have key card access to the office 24*7.</p>
                    </div>
                    <div class="support-qa">
                      <h5>Do I get access to all CoWrks locations?</h5>
                      <p>If you are a member at one centre, you get key card access to all our centres. Furthermore, the CoWrks Connect app allows you not only to book meeting rooms at other locations but also get access to
                        printers, Wi-Fiand the fuel bar.</p>
                    </div>
                    <div class="support-qa">
                      <h5>If I want to visit CoWrks, do I need to schedule a tour or can I just walk in?</h5>
                      <p>Feel free to walk into any of the CoWrks centres. But we suggest you schedule a tour with us either by calling us on: +91-8880000220 or emailing us on: communication@cowrks.com.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingFive">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                    Alliances
                  </button>
                </h5>
              </div>
              <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                <div class="card-body">
                  <div class="tab-pane fade show active" id="Alliances" role="tabpanel" aria-labelledby="Alliances-tab">
                    <h2>Alliances</h2>
                    <div class="support-qa">
                      <h5>What are CoWrks’ operating hours?</h5>
                      <p>Our hours of operation are 9am to 6pm. Monday to Saturday. Private studios and dedicated desks will have key card access to the office 24*7.</p>
                    </div>
                    <div class="support-qa">
                      <h5>Do I get access to all CoWrks locations?</h5>
                      <p>If you are a member at one centre, you get key card access to all our centres. Furthermore, the CoWrks Connect app allows you not only to book meeting rooms at other locations but also get access to
                        printers, Wi-Fiand the fuel bar.</p>
                    </div>
                    <div class="support-qa">
                      <h5>If I want to visit CoWrks, do I need to schedule a tour or can I just walk in?</h5>
                      <p>Feel free to walk into any of the CoWrks centres. But we suggest you schedule a tour with us either by calling us on: +91-8880000220 or emailing us on: communication@cowrks.com.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="card">
              <div class="card-header" id="headingSix">
                <h5 class="mb-0">
                  <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
                    IT-Technology
                  </button>
                </h5>
              </div>
              <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
                <div class="card-body">
                  <div class="tab-pane fade show active" id="IT-Technology" role="tabpanel" aria-labelledby="IT-Technology-tab">
                    <h2>IT-Technology</h2>
                    <div class="support-qa">
                      <h5>What are CoWrks’ operating hours?</h5>
                      <p>Our hours of operation are 9am to 6pm. Monday to Saturday. Private studios and dedicated desks will have key card access to the office 24*7.</p>
                    </div>
                    <div class="support-qa">
                      <h5>Do I get access to all CoWrks locations?</h5>
                      <p>If you are a member at one centre, you get key card access to all our centres. Furthermore, the CoWrks Connect app allows you not only to book meeting rooms at other locations but also get access to
                        printers, Wi-Fiand the fuel bar.</p>
                    </div>
                    <div class="support-qa">
                      <h5>If I want to visit CoWrks, do I need to schedule a tour or can I just walk in?</h5>
                      <p>Feel free to walk into any of the CoWrks centres. But we suggest you schedule a tour with us either by calling us on: +91-8880000220 or emailing us on: communication@cowrks.com.</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- way to reach us section -->
  <section class="way-to-reach-us">
    <div class="row">
      <div class="container text-center">
        <h2 class="section-title">Way To Reach Us</h2>
        <div class="reach-us ">
          <div class="infos col-md-3 col-lg-3 col-sm-12">
            <div class="icon-container whatsapp">
              <div class="icon"></div>
            </div>
            <div class="details">
              <p class="details-title">WHATSAPP</p>
              <p class="details-number">7506651114/3/2</p>
              <p class="details-Status">OFFLINE</p>
            </div>
          </div>
          <div class="infos col-md-3 col-lg-3 col-sm-12">
            <div class="icon-container call">
              <div class="icon"></div>
            </div>
            <div class="details">
              <p class="details-title">GET IN TOUCH</p>
              <p class="details-number">080 4717 8622</p>
            </div>
          </div>
          <div class="infos col-md-3 col-lg-3 col-sm-12">
            <div class="icon-container community">
              <div class="icon"></div>
            </div>
            <div class="details">
              <p class="details-title">COMMUNITY HEAD</p>
              <p class="details-number">8892778866</p>
            </div>
          </div>
          <div class="infos col-md-3 col-lg-3 col-sm-12">
            <div class="icon-container billing">
              <div class="icon"></div>
            </div>
            <div class="details">
              <p class="details-title">BILLING </p>
              <p class="details-number"> 080 4717 8622 </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- page content ends here -->
  <!-- footer starts Here -->

  <section class="footer_form_section">
    <div class="container">
      <div class="row">
        <div class="col-md-11 col-sm-12 question_screen">
          <h4><img src="assets/images/hello_emogy.png">Book Your Office Space</h4>
          <br/><br/>
          <div class="container">
            <div class="row">
              <div class="hidden-lg-down col-xl-1">
                <p class="indicatePage">Start</p>
              </div>
              <div class="col-12 col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xl-11">
                <section class="start__question">
                  <p class="question__number">1/5</p>
                  <form action="/start" method="post" autocomplete="off">
                    <div id="question-1" class="question__wrapper ">
                      <p class="question__title ">Let’s make the first step!</p>
                      <input id="question__question-1" class="question__question" placeholder="What’s your name?" type="text" name="name">
                    </div>
                    <div id="question-2" class="question__wrapper question__wrapper--inactive">
                      <p class="question__title ">Nice to meet you</p>
                      <input id="question__question-2" class="question__question" placeholder="How can we help you?" type="text" name="how">
                    </div>
                    <div id="question-3" class="question__wrapper question__wrapper--inactive">
                      <p class="question__title ">Sounds like a plan!</p>
                      <input id="question__question-3" class="question__question" placeholder="What's your budget?" type="text" name="budget">
                    </div>
                    <div id="question-4" class="question__wrapper question__wrapper--inactive">
                      <p class="question__title ">Good things always have a price!</p>
                      <input id="question__question-4" class="question__question" placeholder="What's your deadline?" type="text" name="deadline">
                    </div>
                    <div id="question-5" class="question__wrapper question__wrapper--inactive">
                      <p class="question__title ">We’re glad it’s not yesterday!</p>
                      <input id="question__question-5" class="question__question" placeholder="What's your email?" type="text" name="email">
                    </div>
                    <div id="question-6" class="question__wrapper question__wrapper--inactive">
                      <p class="confirm__title question__title ">we’re glad that you took your first step! Now it’s our time to help you stand out.</p>
                      <p class="confirm__p"></p>
                    </div>
                    <div class="next__wrapper">
                      <i class="fas fa-chevron-circle-right"></i>
                      <input class="next__button white-text" readonly="readonly" value="Next question">
                    </div>
                    <div class="error__wrapper" style="opacity: 0;">
                      <i class="fas fa-question-circle error__icon"></i>
                      <p class="error__message white-text">Don’t be shy, please fill the fields correctly.</p>
                    </div>
                  </form>
                </section>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="footer">
    <div class="row">
      <div class="container">
        <section class="social-links ">
          <a href="#" class="location-link">All Locations <i class="arrow"></i></a>
          <div class="social-icons ">
            <i class="fab fa-facebook-f"></i>
            <i class="fab fa-twitter"></i>
            <i class="fab fa-instagram"></i>
            <i class="fab fa-linkedin-in"></i>
          </div>
        </section>
        <section class="quick-links">
          <div class="col-md-3 col-sm-12">
            <h4>COMPANY</h4>
            <ul class="list-unstyled">
              <li><a href="#">About Us </a></li>
              <li><a href="#">Team </a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-12">
            <h4>PARTNERSHIPS</h4>
            <ul class="list-unstyled">
              <li><a href="#">Brokers</a></li>
              <li><a href="#">Landlords</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-12">
            <h4>Impact</h4>
            <ul class="list-unstyled">
              <li><a href="#">Ideas</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-sm-12">
            <h4>upcoming locations</h4>
            <form class="footer-form">
              <div class="form-group">
                <label class="form-label">Select City</label>
                <select class="form-control">
                  <option>Bengalore</option>
                  <option>Hydrabad</option>
                </select>
              </div>
              <label class="form-group has-float-label">
                <input class="form-control" type="email" placeholder="email@example.com"/>
                <span>Email address</span>
              </label>
              <label class="form-group has-float-label">
                <input class="form-control" type="number" placeholder="1234567890"/>
                <span>Phone Number</span>
              </label>
              <button type="submit" class="btn btn-footer-form"> <span><img src="assets/images/notify-me.png" alt=""></span> Notify Me</button>
            </form>
          </div>
        </section>
        <section class="footer-bottom">
          <div class="info-container">
            <div class="contact-info">
              <a href="tel:080 4717 8622">080 4717 8622</a>
              <a href="mailto:info@atticspace.in  ">info@atticspace.in </a>
              <address>#612, Basil Moneta, Koramangala <br>
                4th block, 80ft road, Bengaluru - 560034  </address>
            </div>
          </div>
          <div class="copyright-info">
            <div class="link-container">
              <div class="q-links">
                <ul class="list-unstyled d-inline-flex">
                  <li><a href="#">Privacy</a></li>
                  <li><a href="#">Terms</a></li>
                  <li><a href="#">Cookies</a></li>
                  <li><a href="#">Sitemap</a></li>
                </ul>
              </div>
              <div class="copyright">
                <p> Company 2020 Attiic Companies Inc. All Rights Reserved</p>
              </div>
            </div>
            <div class="footer-logo">
              <div class="footer-logo-container">
                <img src="assets/images/logo-black.png" alt="">
              </div>
            </div>
          </div>
        </section>
      </div>
    </div>
  </section>
</div>
