<app-menu></app-menu>
<div class="page-content">
  <section class="support-section">
    <div class="row">
      <div class="container">
        <div class="support-request col-12">
          <div class="form-group col-lg-8 col-md-8 col-sm-12">
            <label style="color: #7a7979;">Support</label>
            <span class="search-input-img"><img src="assets/images/search-gray.png" alt="search-icn"></span>
            <input type="text" class="form-control" placeholder="I am looking for..." (keyup)="search($event.target.value)">

          </div>
          <div class="form-group col-lg-4 col-md-4 col-sm-12">
            <a class="request-submit" href="mailto:info@atticspace.in">Submit A Request</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- accordian-section -->
  <section class="accordian-section">
    <div class="row">
      <div class="container">
        <div class="support-accordian ">
          <ul class="position-sticky nav nav-tabs" id="myTab" role="tablist">
            <li class="nav-item" *ngFor="let category of categories;let i = index;">
              <a [class]="(i == 0) ? 'nav-link active' : 'nav-link'" [attr.id]="category.slug" data-toggle="tab" [attr.href]="'#'+category.string" [attr.aria-controls]="category.string" role="tab" aria-selected="true"><div></div> {{ category.name }}</a>
            </li>
          </ul>
          <div class="tab-content" id="myTabContent">
            <div *ngFor="let categorySupport of supports;let i = index;" [class]="(i == 0) ? 'tab-pane fade show active' : 'tab-pane fade'" [attr.id]="categorySupport.string" role="tabpanel" [attr.aria-labelledby]="categorySupport.slug">
              <h2>{{ categorySupport.name }}</h2>
              <div class="support-qa" *ngFor="let support of categorySupport.supports;" >
                <h5>{{ support.question }}</h5>
                <p>{{ support.answer }}</p>
              </div>
            </div>
          </div>
        </div>

        <div class="support-accordian-mini">
          <div id="accordion">
            <div class="card" *ngFor="let categorySupport of supports;let i = index;">
              <div class="card-header" [id]="categorySupport.string">
                <h5 class="mb-0">
                  <button class="btn btn-link" (click)="Collaps(i)" data-toggle="collapse" [attr.data-target]="'#'+categorySupport.slug" aria-expanded="true" [attr.aria-controls]="categorySupport.slug">
                    {{ categorySupport.name }}
                  </button>
                </h5>
              </div>
              <div [id]="categorySupport.slug" *ngIf="i === expandedIndex" [class]="'collapse show'" [attr.aria-labelledby]="categorySupport.string" [attr.data-parent]="'#accordion'">
                <div class="card-body">
                  <div class="tab-pane fade show active" role="tabpanel" >
                    <h2>{{ categorySupport.name }}</h2>
                    <div class="support-qa" *ngFor="let support of categorySupport.supports;">
                      <h5>{{ support.question }}</h5>
                      <p>{{ support.answer }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- way to reach us section -->
  <section class="way-to-reach-us">
    <div class="row">
      <div class="container text-center">
        <h2 class="section-title">Way To Reach Us</h2>
        <div class="reach-us ">
          <div class="infos col-md-3 col-lg-3 col-sm-12">
            <a href="https://api.whatsapp.com/send?phone=8892778866&text=&source=&data=&app_absent="><div class="icon-container whatsapp">
              <div class="icon"></div>
            </div></a>
            <div class="details">
              <p class="details-title">WHATSAPP</p>
              <p class="details-number">7506651114/3/2</p>
              <p class="details-Status">OFFLINE</p>
            </div>
          </div>
          <div class="infos col-md-3 col-lg-3 col-sm-12">
            <div class="icon-container call">
              <div class="icon"></div>
            </div>
            <div class="details">
              <p class="details-title">GET IN TOUCH</p>
              <p class="details-number">080 4717 8622</p>
            </div>
          </div>
          <div class="infos col-md-3 col-lg-3 col-sm-12">
            <div class="icon-container community">
              <div class="icon"></div>
            </div>
            <div class="details">
              <p class="details-title">COMMUNITY HEAD</p>
              <p class="details-number">8892778866</p>
            </div>
          </div>
          <div class="infos col-md-3 col-lg-3 col-sm-12">
            <div class="icon-container billing">
              <div class="icon"></div>
            </div>
            <div class="details">
              <p class="details-title">BILLING </p>
              <p class="details-number"> 080 4717 8622 </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- page content ends here -->
  <!-- footer starts Here -->
  <app-footer></app-footer>
</div>
