<app-menu></app-menu>
<div class="banner_section">
  <div class="container">
    <form [formGroup]="form" (submit)="onSubmitSearch()">
      <div class="row">
        <div class="col-md-3 col-sm-12 feature-box">
          <div class="visit-form-group text-left">
            <label for="time">Find Workspace In</label>
            <select class="visit-form-control rounded" formControlName="location" id="time" [ngClass]="{
                'has-error': (form.get('location').hasError('required') || errors.location) && form.get('location').touched
              }">
              <option value="">-- Select Area --</option>
              <option *ngFor="let location of locations;" value="{{ location.id }}">{{ location.name }}</option>
            </select>
            <em class="has-error"
                *ngIf="form.get('location').hasError('required') && form.get('location').touched">
              Area is required
            </em>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 feature-box">
          <div class="visit-form-group text-left">
            <label for="time">Number Of People</label>
            <select class="visit-form-control rounded" formControlName="noOfPeople" id="numberOfPeople" [ngClass]="{
                'has-error': (form.get('noOfPeople').hasError('required') || errors.noOfPeople) && form.get('noOfPeople').touched
              }">
              <option value="">--Select Number--</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
              <option value="6">6</option>
              <option value="7">7</option>
              <option value="8">8</option>
              <option value="9">9</option>
              <option value="10">10</option>
            </select>
            <em class="has-error"
                *ngIf="form.get('noOfPeople').hasError('required') && form.get('noOfPeople').touched">
              Number Of People is required
            </em>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 feature-box">
          <div class="visit-form-group text-left date" id="datepicker" [ngClass]="{
                'has-error': (form.get('date').hasError('required') || errors.date) && form.get('date').touched
              }">
            <label for="moveInDate">Move-In Date</label>
            <input type="date" id="moveInDate" class="visit-form-control rounded" formControlName="date" />
            <em class="has-error"
                *ngIf="form.get('date').hasError('required') && form.get('date').touched">
              Date is required
            </em>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 feature-box">
          <div class="text-left">
            <button type="submit" class="btn find-btn" style="margin-top: 45px;">FIND WORK SPACE</button>
<!--            <a class="btn find-btn" style="margin-top: 45px;">FIND WORK SPACE </a>-->
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-3 col-sm-12 p-0">
        <div id="firstSlider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active" *ngIf="imgDiv">
              <div class="image_wrapper">
                <img class="w-80" src="assets/images/slider-img3.jpeg" alt="blue One Square">
              </div>
              <div class="content_wrapper">
                <h3>Property Not Found.</h3>
              </div>
            </div>
            <div *ngFor="let property of properties;let i = index;" [class]="(i==0) ? 'carousel-item active' : 'carousel-item'">
              <div class="image_wrapper" style="cursor: pointer;" [routerLink]="['/property/'+ property.slug]">
                <img class="w-80" [src]="property.image" alt="{{ property.name }}">
              </div>
              <div class="content_wrapper" style="cursor: pointer;" [routerLink]="['/property/'+ property.slug]">
                <h3>{{ property.name }}</h3>
                <address>{{ property.city }}, <br> {{ property.privateDescription }}</address>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#firstSlider" role="button" data-slide="prev"></a>
          <a class="carousel-control-next" href="#firstSlider" role="button" data-slide="next">
            <img src="assets/images/play-btn-blue.png" alt="play">
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 p-0">
        <div id="secondSlider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="image_wrapper">
                <img class="w-80" src="assets/images/slider-img3.jpeg" alt="blue One Square">
              </div>
              <div class="content_wrapper">
                <h3>Blue One Square</h3>
                <address>Gurugram, <br> 3000SqFT</address>
              </div>
            </div>
            <div class="carousel-item">
              <div class="image_wrapper">
                <img class="w-80" src="assets/images/slider-img4.jpeg" alt="blue One Square">
              </div>
              <div class="content_wrapper">
                <h3>Blue Two Square</h3>
                <address>Gurugram, <br> 3000SqFT</address>
              </div>
            </div>
            <div class="carousel-item">
              <div class="image_wrapper">
                <img class="w-80" src="assets/images/slider-img5.jpeg" alt="blue One Square">
              </div>
              <div class="content_wrapper">
                <h3>Blue Three Square</h3>
                <address>Gurugram, <br> 3000SqFT</address>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#secondSlider" role="button" data-slide="prev">
          </a>
          <a class="carousel-control-next" href="#secondSlider" role="button" data-slide="next">
            <img src="assets/images/play-btn-blue.png" alt="play">
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 p-0">
        <div id="thirdSlider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="image_wrapper">
                <img class="w-80" src="assets/images/slider-img6.jpeg" alt="blue One Square">
              </div>
              <div class="content_wrapper">
                <h3>Blue One Square</h3>
                <address>Gurugram, <br> 3000SqFT</address>
              </div>
            </div>
            <div class="carousel-item">
              <div class="image_wrapper">
                <img class="w-80" src="assets/images/slider-img7.jpeg" alt="blue One Square">
              </div>
              <div class="content_wrapper">
                <h3>Blue Two Square</h3>
                <address>Gurugram, <br> 3000SqFT</address>
              </div>
            </div>
            <div class="carousel-item">
              <div class="image_wrapper">
                <img class="w-80" src="assets/images/slider-img8.jpeg" alt="blue One Square">
              </div>
              <div class="content_wrapper">
                <h3>Blue Three Square</h3>
                <address>Gurugram, <br> 3000SqFT</address>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#thirdSlider" role="button" data-slide="prev">
          </a>
          <a class="carousel-control-next" href="#thirdSlider" role="button" data-slide="next">
            <img src="assets/images/play-btn-blue.png" alt="play">
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 p-0">
        <div id="fourthSlider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="image_wrapper">
                <img class="w-80" src="assets/images/slider-img9.jpeg" alt="blue One Square">
              </div>
              <div class="content_wrapper">
                <h3>Blue One Square</h3>
                <address>Gurugram, <br> 3000SqFT</address>
              </div>
            </div>
            <div class="carousel-item">
              <div class="image_wrapper">
                <img class="w-80" src="assets/images/slider-img4.jpeg" alt="blue One Square">
              </div>
              <div class="content_wrapper">
                <h3>Blue Two Square</h3>
                <address>Gurugram, <br> 3000SqFT</address>
              </div>
            </div>
            <div class="carousel-item">
              <div class="image_wrapper">
                <img class="w-80" src="assets/images/slider-img6.jpeg" alt="blue One Square">
              </div>
              <div class="content_wrapper">
                <h3>Blue Three Square</h3>
                <address>Gurugram, <br> 3000SqFT</address>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#fourthSlider" role="button" data-slide="prev">
          </a>
          <a class="carousel-control-next opac-0" href="#fourthSlider" role="button" data-slide="next">
            <!-- <img src="assets/images/play-btn-blue.png" alt="play"> -->
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="setup_manage_section tb-space">
  <div class="container text-center">
    <h2>Everything you need to set up and manage your office in Bangalore</h2>
    <div class="col-12 d-inline-flex pt-3   ">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item requirement col-md-2 col-sm-12">
          <img class="m-3" src="assets/images/location.png" alt="location">
          <a class="nav-link active text-uppercase" id="location-tab" data-toggle="tab" href="#location" role="tab" aria-controls="location" aria-selected="true">location</a>
        </li>
        <li class="nav-item requirement col-md-2 col-sm-12">
          <img class="m-3" src="assets/images/renovation.png" alt="Renovation">
          <a class="nav-link text-uppercase" id="Renovation-tab" data-toggle="tab" href="#Renovation" role="tab" aria-controls="Renovation" aria-selected="false">Renovation</a>
        </li>
        <li class="nav-item requirement col-md-2 col-sm-12">
          <img class="m-3" src="assets/images/communication.png" alt="Communiation_Network">
          <a class="nav-link text-uppercase" id="Communiation_Network-tab" data-toggle="tab" href="#Communiation_Network" role="tab" aria-controls="Communiation_Network" aria-selected="false">Communiation Network</a>
        </li>
        <li class="nav-item requirement col-md-2 col-sm-12">
          <img class="m-3" src="assets/images/access-control.png" alt="Access_Control">
          <a class="nav-link text-uppercase" id="Access_Control-tab" data-toggle="tab" href="#Access_Control" role="tab" aria-controls="Access_Control" aria-selected="true">Access Control</a>
        </li>
        <li class="nav-item requirement col-md-2 col-sm-12">
          <img class="m-3" src="assets/images/support_stuff.png" alt="Support_Stuff">
          <a class="nav-link text-uppercase" id="Support_Stuff-tab" data-toggle="tab" href="#Support_Stuff" role="tab" aria-controls="Support_Stuff" aria-selected="false">Renovation</a>
        </li>
        <li class="nav-item requirement col-md-2 col-sm-12">
          <img class="m-3" src="assets/images/all_maintenance.png" alt="All Maintenance_Work">
          <a class="nav-link text-uppercase" id="Maintenance_Work-tab" data-toggle="tab" href="#Maintenance_Work" role="tab" aria-controls="Maintenance_Work" aria-selected="false">Maintenance Work</a>
        </li>
      </ul>
    </div>


  </div>
</div>
<div class="zoho_invoice_section tb-space">
  <div class="container">
    <div class="tab-content" id="myTabContent">
      <div class="tab-pane fade show active" id="location" role="tabpanel" aria-labelledby="location-tab">
        <div class="col-12 d-inline-flex">
          <div class="zoho-image col-md-6 col-sm-12">
            <img src="assets/images/zoho-invoice.png" alt="Zoho Invoice">
          </div>
          <div class="zoho-content col-md-6 col-sm-12">
            <h4 class="text-uppercase">Zoho Invoice - Location</h4>
            <p>Create professional invoices, send automatic payment reminders, and accept online payments with Zoho Invoice.</p>
            <ul>
              <li>Create beautiful invoices using templates</li>
              <li>Manage Projects and track time</li>
              <li>Receive online payments</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="Renovation" role="tabpanel" aria-labelledby="Renovation-tab">
        <div class="col-12 d-inline-flex">
          <div class="zoho-image col-md-6 col-sm-12">
            <img src="assets/images/zoho-invoice.png" alt="Zoho Invoice">
          </div>
          <div class="zoho-content col-md-6 col-sm-12">
            <h4 class="text-uppercase">Zoho Invoice - Renovation</h4>
            <p>Create professional invoices, send automatic payment reminders, and accept online payments with Zoho Invoice.</p>
            <ul>
              <li>Create beautiful invoices using templates</li>
              <li>Manage Projects and track time</li>
              <li>Receive online payments</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="Communiation_Network" role="tabpanel" aria-labelledby="Communiation_Network-tab">
        <div class="col-12 d-inline-flex">
          <div class="zoho-image col-md-6 col-sm-12">
            <img src="assets/images/zoho-invoice.png" alt="Zoho Invoice - Communiation Network">
          </div>
          <div class="zoho-content col-md-6 col-sm-12">
            <h4 class="text-uppercase">Zoho Invoice - Communication Network</h4>
            <p>Create professional invoices, send automatic payment reminders, and accept online payments with Zoho Invoice.</p>
            <ul>
              <li>Create beautiful invoices using templates</li>
              <li>Manage Projects and track time</li>
              <li>Receive online payments</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="Access_Control" role="tabpanel" aria-labelledby="Access_Control-tab">
        <div class="col-12 d-inline-flex">
          <div class="zoho-image col-md-6 col-sm-12">
            <img src="assets/images/zoho-invoice.png" alt="Zoho Invoice">
          </div>
          <div class="zoho-content col-md-6 col-sm-12">
            <h4 class="text-uppercase">Zoho Invoice - Access Control</h4>
            <p>Create professional invoices, send automatic payment reminders, and accept online payments with Zoho Invoice.</p>
            <ul>
              <li>Create beautiful invoices using templates</li>
              <li>Manage Projects and track time</li>
              <li>Receive online payments</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="Support_Stuff" role="tabpanel" aria-labelledby="Support_Stuff-tab">
        <div class="col-12 d-inline-flex">
          <div class="zoho-image col-md-6 col-sm-12">
            <img src="assets/images/zoho-invoice.png" alt="Zoho Invoice">
          </div>
          <div class="zoho-content col-md-6 col-sm-12">
            <h4 class="text-uppercase">Zoho Invoice - Support Stuff</h4>
            <p>Create professional invoices, send automatic payment reminders, and accept online payments with Zoho Invoice.</p>
            <ul>
              <li>Create beautiful invoices using templates</li>
              <li>Manage Projects and track time</li>
              <li>Receive online payments</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="tab-pane fade" id="Maintenance_Work" role="tabpanel" aria-labelledby="Maintenance_Work-tab">
        <div class="col-12 d-inline-flex">
          <div class="zoho-image col-md-6 col-sm-12">
            <img src="assets/images/zoho-invoice.png" alt="Zoho Invoice">
          </div>
          <div class="zoho-content col-md-6 col-sm-12">
            <h4 class="text-uppercase">Zoho Invoice - Maintenance Work</h4>
            <p>Create professional invoices, send automatic payment reminders, and accept online payments with Zoho Invoice.</p>
            <ul>
              <li>Create beautiful invoices using templates</li>
              <li>Manage Projects and track time</li>
              <li>Receive online payments</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="testimonial_section tb-space">
  <div class="container">
    <h2 class="testimonial-title">Let see what our clients are saying.</h2>
    <div class="col-12 d-inline-flex mt-5">
      <div class="testimonial-content corners col-md-6 col-sm-12 text-center">
        <div class="top left"></div>
        <div class="top right"></div>
        <div class="bottom right"></div>
        <div class="bottom left"></div>
        <img src="assets/images/one-kings-lane.png" alt="Zoho Invoice">
        <p class="quote">“Desk.Com helps us offer customer service that’s as special as the items we sell.”</p>
        <h6 class="client_name">ALEXIS CHAPMAN, DIRECTOR - CUSTOMER OPERATIONS</h6>
        <p>Industry Retail</p>
      </div>
      <div class="testimonial-image col-md-6 col-sm-12 text-center">
        <img src="assets/images/client_image.png" alt="Zoho Invoice">
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
