<app-menu></app-menu>
<div class="banner_section">
  <div class="container">
    <form [formGroup]="form" (submit)="onSubmitSearch()">
      <div class="row">
        <div class="col-md-3 col-sm-12 feature-box">
          <div class="visit-form-group text-left">
            <label for="time">Find Workspace In</label>
            <select class="visit-form-control rounded" formControlName="location" id="time" [ngClass]="{
                'has-error': (form.get('location').hasError('required') || errors.location) && form.get('location').touched
              }">
              <option value="">-- Select Area --</option>
              <option *ngFor="let location of locations;" value="{{ location.id }}">{{ location.name }}</option>
            </select>
            <em class="has-error" *ngIf="form.get('location').hasError('required') && form.get('location').touched">
              Area is required
            </em>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 feature-box">
          <div class="visit-form-group text-left">
            <label for="time">Number Of People</label>
            <select class="visit-form-control rounded" formControlName="noOfPeople" id="numberOfPeople" [ngClass]="{
                'has-error': (form.get('noOfPeople').hasError('required') || errors.noOfPeople) && form.get('noOfPeople').touched
              }">
              <option value="">--Select Number--</option>
              <option value="50">50</option>
              <option value="100">100</option>
              <option value="200">200</option>
              <option value="400">400</option>
              <option value="500">500</option>
            </select>
            <em class="has-error" *ngIf="form.get('noOfPeople').hasError('required') && form.get('noOfPeople').touched">
              Number Of People is required
            </em>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 feature-box">
          <div class="visit-form-group text-left date" id="datepicker" [ngClass]="{
                'has-error': (form.get('date').hasError('required') || errors.date) && form.get('date').touched
              }">
            <label for="moveInDate">Move-In Date</label>
            <input type="date" id="moveInDate" class="visit-form-control rounded" formControlName="date" />
            <em class="has-error" *ngIf="form.get('date').hasError('required') && form.get('date').touched">
              Date is required
            </em>
          </div>
        </div>
        <div class="col-md-3 col-sm-12 feature-box">
          <div class="text-left">
            <button type="submit" class="btn find-btn" [disabled]="!form.valid" style="margin-top: 45px;">FIND WORK SPACE</button>
          </div>
        </div>
      </div>
    </form>
    <div class="row">
      <div class="col-md-9 offset-md-2" *ngIf="imgDiv">
        <div class="msg-success col-md-8 col-sm-12" style="font-size: 20px;">
          <p>Property <b> already booked.</b></p>
          <b>But Don't Worry.</b>
          <p>We will set up a new office in <b>{{ locationName }}. just for you.</b> </p>
          <p><b>Please</b> Contact us.</p>
        </div>
      </div>

      <div class="col-md-3 col-sm-12 p-0" *ngIf="dataDiv">
        <div id="firstSlider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div *ngFor="let property of oneSliders;let i = index;" [class]="(i==0) ? 'carousel-item active' : 'carousel-item'">
              <div class="image_wrapper" style="cursor: pointer;" [routerLink]="['/office-space/'+ property.locationSlug+'/'+ property.slug]">
                <img class="w-80" [src]="property.image" alt="{{ property.name }}">
              </div>
              <div class="content_wrapper" style="cursor: pointer;" [routerLink]="['/office-space/'+ property.locationSlug+'/'+ property.slug]">
                <h3>{{ property.name }}</h3>
                <address>{{ property.city }}</address>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#firstSlider" role="button" data-slide="prev"></a>
          <a class="carousel-control-next" href="#firstSlider" role="button" data-slide="next">
            <img src="assets/images/play-btn-blue.png" alt="play">
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 p-0" *ngIf="twoDiv">
        <div id="secondSlider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div *ngFor="let twoSlider of twoSliders;let i = index;" [class]="(i==0) ? 'carousel-item active' : 'carousel-item'">
              <div class="image_wrapper" style="cursor: pointer;" [routerLink]="['/office-space/'+ twoSlider.locationSlug+'/'+ twoSlider.slug]">
                <img class="w-80" [src]="twoSlider.image" alt="{{ twoSlider.name }}">
              </div>
              <div class="content_wrapper" style="cursor: pointer;" [routerLink]="['/office-space/'+ twoSlider.locationSlug+'/'+ twoSlider.slug]">
                <h3>{{ twoSlider.name }}</h3>
                <address>{{ twoSlider.city }}</address>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#secondSlider" role="button" data-slide="prev">
          </a>
          <a class="carousel-control-next" href="#secondSlider" role="button" data-slide="next">
            <img src="assets/images/play-btn-blue.png" alt="play">
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 p-0" *ngIf="threeDiv">
        <div id="thirdSlider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div *ngFor="let threeSlider of threeSliders;let i = index;" [class]="(i==0) ? 'carousel-item active' : 'carousel-item'">
              <div class="image_wrapper" style="cursor: pointer;" [routerLink]="['/office-space/'+ threeSlider.locationSlug+'/'+ threeSlider.slug]">
                <img class="w-80" [src]="threeSlider.image" alt="{{ threeSlider.name }}">
              </div>
              <div class="content_wrapper" style="cursor: pointer;" [routerLink]="['/office-space/'+ threeSlider.locationSlug+'/'+ threeSlider.slug]">
                <h3>{{ threeSlider.name }}</h3>
                <address>{{ threeSlider.city }}</address>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#thirdSlider" role="button" data-slide="prev">
          </a>
          <a class="carousel-control-next" href="#thirdSlider" role="button" data-slide="next">
            <img src="assets/images/play-btn-blue.png" alt="play">
          </a>
        </div>
      </div>
      <div class="col-md-3 col-sm-12 p-0" *ngIf="fourDiv">
        <div id="fourthSlider" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div *ngFor="let fourSlider of fourSliders;let i = index;" [class]="(i==0) ? 'carousel-item active' : 'carousel-item'">
              <div class="image_wrapper" style="cursor: pointer;" [routerLink]="['/office-space/'+ fourSlider.locationSlug+'/'+ fourSlider.slug]">
                <img class="w-80" [src]="fourSlider.image" alt="{{ fourSlider.name }}">
              </div>
              <div class="content_wrapper" style="cursor: pointer;" [routerLink]="['/office-space/'+ fourSlider.locationSlug+'/'+ fourSlider.slug]">
                <h3>{{ fourSlider.name }}</h3>
                <address>{{ fourSlider.city }}</address>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#fourthSlider" role="button" data-slide="prev">
          </a>
          <a class="carousel-control-next opac-0" href="#fourthSlider" role="button" data-slide="next">
            <!-- <img src="assets/images/play-btn-blue.png" alt="play"> -->
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="setup_manage_section tb-space">
  <div class="container text-center">
    <h2>{{ cityContentTitle }}</h2>
    <div class="col-12 d-inline-flex pt-3">
      <ul class="nav nav-tabs" id="myTab" role="tablist">
        <li class="nav-item requirement col-md-2 col-sm-12" *ngFor="let cityContentSub of cityContentSubs;let i = index;">
          <a [class]="(i == 0) ? 'nav-link active text-uppercase' : 'nav-link text-uppercase'" [id]="cityContentSub.string+'-tab'" data-toggle="tab" [attr.href]="'#'+cityContentSub.string" role="tab" [attr.aria-controls]="cityContentSub.string" aria-selected="true"><img class="m-3" [src]="cityContentSub.icon" alt="{{ cityContentSub.icon_title }}">{{ cityContentSub.icon_title }}</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="zoho_invoice_section tb-space">
  <div class="container">
    <div class="tab-content" id="myTabContent">
      <div *ngFor="let cityContentSub of cityContentSubs;let i = index;" [class]="(i == 0) ? 'tab-pane fade show active' : 'tab-pane fade'" [id]="cityContentSub.string" role="tabpanel" [attr.aria-labelledby]="cityContentSub.string+'-tab'">
        <div class="col-12 d-inline-flex">
          <div class="zoho-image col-md-6 col-sm-12">
            <img [src]="cityContentSub.image" alt="{{ cityContentSub.image_title }}">
          </div>
          <div class="zoho-content col-md-6 col-sm-12">
            <h4 class="text-uppercase">{{ cityContentSub.image_title }}</h4>
            <div [innerHtml]="cityContentSub.description"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="testimonial_section tb-space">
  <div class="container carousel slide" id="testimonial" data-ride="carousel">
    <ul class="carousel-indicators">
      <li data-target="#testimonial" data-slide-to="0" class="active"></li>
<!--      <li data-target="#testimonial" data-slide-to="1"></li>-->
    </ul>
    <h2 class="testimonial-title">Let see what our clients are saying.</h2>
    <div class="carousel-inner">
      <div *ngFor="let testimonial of testimonials;let i = index;" [class]="(i == 0) ? 'carousel-item active' : 'carousel-item'">
        <div class="col-12 d-inline-flex mt-5">
      <div class="testimonial-content corners col-md-6 col-sm-12 text-center">
        <div class="top left"></div>
        <div class="top right"></div>
        <div class="bottom right"></div>
        <div class="bottom left"></div>
        <img [src]="testimonial.logo" >
        <p class="quote">{{ testimonial.title }}</p>
        <h6 class="client_name">{{ testimonial.sub_title }}</h6>
        <p>{{ testimonial.third_title }}</p>
      </div>
      <div class="testimonial-image col-md-6 col-sm-12 text-center">
        <img [src]="testimonial.image">
      </div>
    </div>
      </div>
    </div>

  </div>
</div>
<app-footer></app-footer>
