<app-menu></app-menu>
<div class="page-content">
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h1 class="bigtitle"><span class="color-primary bigfont">8</span> Ready to Move <span class="color-gray">In</span><br> Properties <span class="color-gray">are</span> Available</h1>
      </div>
    </div>
    <div class="row">
      <div class="property-list mt-5 col-md-6 col-lg-8 col-sm-12">
        <ul>
          <li class="card" routerLink="/detail">
            <a href="javascript:void(0);" class="gallery-icn">
              <img src="assets/images/slideimg.png" alt="Card image cap">
            </a>
            <img class="card-img-top" src="assets/images/property_1.png" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">Iris Tech Park, Sohna Road</h5>
            </div>
            <a href="javascript:void(0);" class="btn-text">
              <div class="card-btn text-center">100 seaters
              </div>
            </a>
          </li>
          <li class="card" routerLink="/detail">
            <a href="javascript:void(0);" class="gallery-icn">
              <img src="assets/images/slideimg.png" alt="Card image cap">
            </a>
            <img class="card-img-top" src="assets/images/property_2.png" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">Good Earth City Centre, Sector 50</h5>
            </div>
            <a href="javascript:void(0);" class="btn-text">
              <div class="card-btn text-center">150 seaters
              </div>
            </a>
          </li>
          <li class="card" routerLink="/detail">
            <a href="javascript:void(0);" class="gallery-icn">
              <img src="assets/images/slideimg.png" alt="Card image cap">
            </a>
            <img class="card-img-top" src="assets/images/property_3.png" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">Nirvana Courtyard, Sector 50</h5>
            </div>
            <a href="javascript:void(0);" class="btn-text">
              <div class="card-btn text-center">150 seaters
              </div>
            </a>
          </li>
          <li class="card" routerLink="/detail">
            <a href="javascript:void(0);" class="gallery-icn">
              <img src="assets/images/slideimg.png" alt="Card image cap">
            </a>
            <img class="card-img-top" src="assets/images/property_4.png" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">Huda City Centre, Gurgaon</h5>
            </div>
            <a href="javascript:void(0);" class="btn-text">
              <div class="card-btn text-center">150 seaters
              </div>
            </a>
          </li>
          <li class="card" routerLink="/detail">
            <a href="javascript:void(0);" class="gallery-icn">
              <img src="assets/images/slideimg.png" alt="Card image cap">
            </a>
            <img class="card-img-top" src="assets/images/property_5.png" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">SPML House</h5>
            </div>
            <a href="javascript:void(0);" class="btn-text">
              <div class="card-btn text-center">150 seaters
              </div>
            </a>
          </li>
          <li class="card" routerLink="/detail">
            <a href="javascript:void(0);" class="gallery-icn">
              <img src="assets/images/slideimg.png" alt="Card image cap">
            </a>
            <img class="card-img-top" src="assets/images/property_6.png" alt="Card image cap">
            <div class="card-body text-center">
              <h5 class="card-title">Konterra, Udyog Vihar Phase-III</h5>
            </div>
            <a href="javascript:void(0);" class="btn-text">
              <div class="card-btn text-center">150 seaters
              </div>
            </a>
          </li>

        </ul>
      </div>
      <div class=" mt-5 col-md-6 col-lg-4 col-sm-12 text-center">
        <div class="bookvisit">
          <h2 class="text-center">Select properties to Schedule A Visit
            <div class="textline"></div>
          </h2>
          <form class="visitform" autocomplete="off" action="/action_page.php">
            <div class="visit-form-group ">
              <input type="text" class="visit-input" placeholder="Your Full Name">
            </div>
            <div class="visit-form-group ">
              <input type="text" class="visit-input" placeholder="Your Email">
            </div>
            <div class="visit-form-group ">
              <input type="text" class="visit-input" placeholder="Your Mobile Number">
            </div>
            <div class="visit-form-group text-left">
              <label for="time">When would you like to visit?*</label>
              <select class="visit-form-control" id="time">
                <option>Today</option>
                <option>Tomorrow</option>
                <option>Sunday</option>
                <option>Monday</option>
                <option>Tuesday</option>
              </select>
            </div>
            <div class="visit-form-group ">
              <select class="visit-form-control no-lable" id="time">
                <option>00:00</option>
                <option>01:00</option>
                <option>02:00</option>
                <option>03:00</option>
                <option>04:00</option>
                <option>05:00</option>
                <option>06:00</option>
                <option>07:00</option>
                <option>08:00</option>
                <option>09:00</option>
                <option>10:00</option>
                <option>11:00</option>
                <option>12:00</option>
                <option>13:00</option>
                <option>14:00</option>
                <option>15:00</option>
                <option>16:00</option>
                <option>17:00</option>
                <option>18:00</option>
                <option>19:00</option>
                <option>20:00</option>
                <option>21:00</option>
                <option>22:00</option>
                <option>23:00</option>
              </select>
            </div>
            <div class="visit-form-group ">
              <a href="" class="btn book-btn"> Book Your Visit</a>
              <p class="callustext">Call us at
                <a href="tel:+917827948251" class="mobileno">+91 7827948251</a>
              </p>
            </div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2 class="pageheading">Check Approximate Rate for <span>Ready to Move in Office</span></h2>
        <form autocomplete="off" action="/action_page.php" class="form-calculation">
          <div class="input-collections">
            <div class="cal-form-group col-md-12 col-lg-12 col-sm-12">
              <input type="number" class="banner-input w-75" placeholder="Enter Office Size (Sqft)">
            </div>
            <div class="autocomplete cal-form-group col-md-12 col-lg-12 col-sm-12">
              <select class="banner-input banner-input-group no-lable w-75" id="city">
                <option>Select City</option>
                <option>City 1</option>
                <option>City 2</option>
                <option>City 3</option>
                <option>City 4</option>
                <option>City 5</option>
                <option>City 6</option>
                <option>City 7</option>
                <option>City 8</option>
                <option>City 9</option>
                <option>City 10</option>
                <option>City 11</option>
                <option>City 12</option>
                <option>City 13</option>
                <option>City 14</option>
                <option>City 15</option>
                <option>City 16</option>
                <option>City 17</option>
                <option>City 18</option>
                <option>City 19</option>
                <option>City 20</option>
              </select>

            </div>
            <div class="autocomplete cal-form-group col-md-12 col-lg-12 col-sm-12">
              <!-- <input id="myInputArea" class="banner-input banner-input-group w-75" type="text" name="myArea" placeholder="Area"> -->
              <select class="banner-input banner-input-group no-lable w-75" id="Area">
                <option>Select Area</option>
                <option>Area 1</option>
                <option>Area 2</option>
                <option>Area 3</option>
                <option>Area 4</option>
                <option>Area 5</option>
                <option>Area 6</option>
                <option>Area 7</option>
                <option>Area 8</option>
                <option>Area 9</option>
                <option>Area 10</option>
                <option>Area 11</option>
                <option>Area 12</option>
                <option>Area 13</option>
                <option>Area 14</option>
                <option>Area 15</option>
                <option>Area 16</option>
                <option>Area 17</option>
                <option>Area 18</option>
                <option>Area 19</option>
                <option>Area 20</option>
              </select>
            </div>
          </div>
          <div class="input-collections m-auto">
            <div class="cal-form-group col-md-12 col-lg-12 col-sm-12 pl-0 d-inline-flex ">
              <div class="calculation col-8 d-inline-flex p-0">
                <div class="input-group-prepend">
                  <span class="banner-input-group-text">=</span>
                </div>
                <input type="text" class="banner-input border-0" disabled value="INR 6900000 /PM">
              </div>
              <div class="book-now-link col-4 m-auto">
                <a href="javascript:void(0);">Book Now</a>
              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h2 class="secheading">Get your bag & Get to work</h2>
        <p>Get going with the best of services at your disposal. Our Coworking spaces are fully <br> equipped with amenities to make you your productive best at your office.</p>
      </div>
    </div>
  </div>
  <div class="container-fluid bg-light">
    <div class="row">
      <div class="col-lg-12 col-md-12 col-sm-12">
        <ul class="list-unstyled">
          <div class="row">
            <li class="col-sm-6 col-md-4 col-lg-2 float-none">
              <div class=" iconcontainer text-center">
                <img src="assets/images/icon1.png" alt="OPEN LOUNGE">
                <p>OPEN LOUNGE</p>
              </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-2 float-none">
              <div class="iconcontainer text-center">
                <img src="assets/images/icon2.png" alt="WIFI">
                <p>WIFI</p>
              </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-2 float-none">
              <div class="iconcontainer text-center">
                <img src="assets/images/icon3.png" alt="OPEN PANTRY">
                <p>OPEN PANTRY</p>
              </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-2 float-none">
              <div class="iconcontainer text-center">
                <img src="assets/images/icon4.png" alt="PRINTING/COPYING">
                <p>PRINTING / COPYING</p>
              </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-2 float-none">
              <div class=" iconcontainer text-center">
                <img src="assets/images/icon5.png" alt="HUDDLE AREA">
                <p>HUDDLE AREA</p>
              </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-2 ">
              <div class="iconcontainer text-center">
                <img src="assets/images/icon6.png" alt="BIOMETRIC LOG">
                <p>BIOMETRIC LOG</p>
              </div>
            </li>

          </div>
          <div class="row">
            <li class="col-sm-6 col-md-4 col-lg-2 ">
              <div class="iconcontainer text-center">
                <img src="assets/images/icon7.png" alt="DEDICATED PARKING">
                <p>DEDICATED PARKING</p>
              </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-2 ">
              <div class="iconcontainer text-center">
                <img src="assets/images/icon8.png" alt="24X7 ACCESS">
                <p>24X7 ACCESS</p>
              </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-2 ">
              <div class=" iconcontainer text-center">
                <img src="assets/images/icon9.png" alt="CCTV">
                <p>CCTV</p>
              </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-2 ">
              <div class="iconcontainer text-center">
                <img src="assets/images/icon10.png" alt="RUNNER SERVICES">
                <p>RUNNER SERVICES</p>
              </div>
            </li>
            <li class="col-sm-6 col-md-4 col-lg-2 ">
              <div class="iconcontainer text-center">
                <img src="assets/images/icon11.png" alt="IT/ADMIN SUPPORT">
                <p>IT/ADMIN SUPPORT</p>
              </div>
            </li>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <app-footer></app-footer>
</div>
