<app-menu></app-menu>
<div class="page-content">
  <section class="about_first_section" style="background-color: #ffffff;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Who We Are</h1>
          <p>Built with love on Indian soil, we are a premium homegrown coworking solution provider that builds workspaces for businesses of all sizes. <br><br>
            Our sole purpose is to bring together the largest community of working professionals across the globe, fuel them with inspiration and connect them through technology. Our workspaces empower people to express themselves freely as they do some of their life’s best work.</p>
        </div>
      </div>
    </div>
  </section>

  <div class="divider_wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <section class="about_first_section" style="background-color: #ffffff;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>What We want to do</h1>
          <p>Built with love on Indian soil, we are a premium homegrown coworking solution provider that builds workspaces for businesses of all sizes. <br><br>
            Our sole purpose is to bring together the largest community of working professionals across the globe, fuel them with inspiration and connect them through technology. Our workspaces empower people to express themselves freely as they do some of their life’s best work.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="about_first_section" style="background-color: #ffffff;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-12">
          <h1>The Power of Our Community</h1>
          <p>CoWrks packs the right mix of infrastructure, collaborative spirit and inspiration.</p>
          <div class="row">
            <div class="col-lg-6 border_bottom border_right">
              <div class="power_number_box ">
                <span>350+</span>
                <p>companies choose CoWrks workspace</p>
              </div>
            </div>
            <div class="col-lg-6 border_bottom">
              <div class="power_number_box">
                <span>23+</span>
                <p>companies choose CoWrks workspace</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 border_right">
              <div class="power_number_box">
                <span>11+</span>
                <p>companies choose CoWrks workspace</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="power_number_box">
                <span>10000+</span>
                <p>companies choose CoWrks workspace</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <img src="assets/images/chart_img.jpg" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section class="about_first_section" style="background-color: #ffffff;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="team_section_title">Executive Officers</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="team_box_wrap">
            <img src="assets/images/team_img_1.jpg" alt="" class="img-fluid">
            <span>Salil Parekh</span>
            <p>Chief Executive Officer and Managing Director</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team_box_wrap">
            <img src="assets/images/team_img_2.jpg" alt="" class="img-fluid">
            <span>Pravin Rao</span>
            <p>Chief Operating Officer and Whole-time Director</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="team_box_wrap">
            <img src="assets/images/team_img_3.jpg" alt="" class="img-fluid">
            <span>Nilanjan Roy</span>
            <p>Chief Financial Officer</p>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12">
          <h2>Founder</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4">
          <div class="team_box_wrap team_box_margin_bottom_none">
            <img src="assets/images/team_img_4.jpg" alt="" class="img-fluid">
            <span>N.R. Narayana Murthy</span>
            <p>Founder</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about_first_section" style="background-color: #ffffff;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="team_section_title">Comming Soon Locations</h1>
          <img src="assets/images/location_img.jpg" alt="" class="img-fluid">
          <br><br><br><br>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</div>
