<app-menu></app-menu>
<div class="page-content">
  <section class="about_first_section" style="background-color: #ffffff;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>{{ step1.title }}</h1>
          <p>{{ step1.sub_title }}</p><br>
          <p>{{ step1.description }}</p>
        </div>
      </div>
    </div>
  </section>

  <div class="divider_wrap">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="divider"></div>
        </div>
      </div>
    </div>
  </div>
  <br>

  <section class="about_first_section" style="background-color: #ffffff;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>{{ step2.title }}</h1>
          <p>{{ step2.sub_title }}</p><br>
          <p>{{ step2.description }}</p>
        </div>
      </div>
    </div>
  </section>

  <section class="about_first_section" style="background-color: #ffffff;">
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-sm-12">
          <h1>{{ step3.title }}</h1>
          <p>{{ step3.sub_title }}</p>
          <div class="row">
            <div class="col-lg-6 border_bottom border_right">
              <div class="power_number_box ">
                <span>{{ step3.firstNo }}</span>
                <p>{{ step3.firstDescription }}</p>
              </div>
            </div>
            <div class="col-lg-6 border_bottom">
              <div class="power_number_box">
                <span>{{ step3.secondNo }}</span>
                <p>{{ step3.secondDescription }}</p>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6 border_right">
              <div class="power_number_box">
                <span>{{ step3.threeNo }}</span>
                <p>{{ step3.threeDescription }}</p>
              </div>
            </div>
            <div class="col-lg-6">
              <div class="power_number_box">
                <span>{{ step3.fourNo }}</span>
                <p>{{ step3.fourDescription }}</p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-sm-12">
          <img [src]="step3.image" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>

  <section class="about_first_section" style="background-color: #ffffff;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="team_section_title">Executive Officers</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 cursor-pointer" *ngFor="let about of abouts" [routerLink]="['/about/'+ about.slug]">
          <div class="team_box_wrap">
            <img [src]="about.image" alt="" class="img-fluid">
            <span>{{ about.name }}</span>
            <p>{{ about.designation }}</p>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="about_first_section" style="background-color: #ffffff;" *ngIf="false">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1 class="team_section_title">Comming Soon Locations</h1>
          <img src="assets/images/location_img.jpg" alt="" class="img-fluid">
          <br><br><br><br>
        </div>
      </div>
    </div>
  </section>

  <app-footer></app-footer>
</div>
