<app-menu></app-menu>
<div class="page-content">

  <!-- Slider section start here -->
  <div class="container mt-5">
    <div class="row">
      <div class="position-sticky col-4 text-center">
        <div class="Subscribe-space">
          <h4 class="text-left mb-3">The latest from CoWorks delivered straight to your inbox!
          </h4>
          <form class="subscribeform pb-3" autocomplete="off">
            <div class="row col-12 m-auto text-left">
              <div class="subscribe-form-group col-lg-12 col-md-12 ">
                <label>EMAIL ADDRESS*</label>
                <input type="text " class="subscribe-form-control" placeholder="">
              </div>
              <div class="subscribe-form-group col-lg-12 col-md-12 ">
                <label>NAME*</label>
                <input type="text " class="subscribe-form-control" placeholder="">
              </div>
            </div>
            <div class="row col-12 m-auto text-left">
              <div class="subscribe-form-group col-12">
                <label>PHONE NUMBER*</label>
                <input type="number" class="subscribe-form-control" placeholder="">
              </div>
            </div>
            <div class="row col-12 m-auto text-left">
              <div class="subscribe-form-group col-12">
                <a href="" class="btn subscribe-btn"> SUBSCRIBE</a>
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-8 col-md-12 w-width">
        <div class="search-section">
          <div class="row">
            <ul class="list-unstyled d-inline-flex" id="one-pagenav">
              <li><a href="#growth-innovation"> Growth & innovation </a></li>
              <li><a href="#officedesign"> Office design & space</a></li>
              <li><a href="#cityguides"> City guides</a></li>
              <li><a href="#worklife"> Work life</a></li>
            </ul>
          </div>
          <div class="row">
            <div class="input-group pl-0">
              <input class="form-control" type="text" placeholder="Search Article" aria-label="Search">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-text1"><img src="assets/images/search-icn.png" alt=""></span>
              </div>
            </div>
          </div>
          <div class="row" routerLink="/blog-detail" style="cursor: pointer;">
            <div class="image-container">
              <img src="assets/images/search-img.png" alt="img">
              <h4 class="img-title">WeWork Labs members working to fight the coronavirus
              </h4>
            </div>
          </div>
        </div>
        <div id="growth-innovation" class="growth-section">
          <div class="row">
            <h2>Growth & Innovation</h2>
          </div>
          <div class="row">
            <p>Growing your business takes new ideas, the right talent, and so much more.</p>
          </div>
          <div class="row">
            <div class="blog col-lg-6 col-md-6 col-sm-12 pl-0">
              <div class="blog-container">
                <img src="assets/images/blog-img-1.png" alt="img">
                <div class="blog-content-wrapper">
                  <h5>10 best videoconferencing software for remote teams</h5>
                  <p>We review the most popular solutions so that you can jump straight into working</p>
                </div>
              </div>
            </div>
            <div class="blog col-lg-6 col-md-6 col-sm-12 pl-0">
              <div class="blog-container">
                <img src="assets/images/blog-img-2.png" alt="img">
                <div class="blog-content-wrapper">
                  <h5>How to host a virtual conference while social distancing</h5>
                  <p>Holding a virtual conference now supports your industry and creates re actionships that can outlast a crisis</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="officedesign" class="growth-section">
          <div class="row">
            <h2>Office design & space</h2>
          </div>
          <div class="row">
            <p>International design can inspire, foster community, and drive productivity.</p>
          </div>
          <div class="row">
            <div class="blog col-lg-6 col-md-6 col-sm-12 pl-0">
              <div class="blog-container">
                <img src="assets/images/blog-img-1.png" alt="img">
                <div class="blog-content-wrapper">
                  <h5>10 best videoconferencing software for remote teams</h5>
                  <p>We review the most popular solutions so that you can jump straight into working</p>
                </div>
              </div>
            </div>
            <div class="blog col-lg-6 col-md-6 col-sm-12 pl-0">
              <div class="blog-container">
                <img src="assets/images/blog-img-2.png" alt="img">
                <div class="blog-content-wrapper">
                  <h5>How to host a virtual conference while social distancing</h5>
                  <p>Holding a virtual conference now supports your industry and creates re actionships that can outlast a crisis</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="cityguides" class="growth-section">
          <div class="row">
            <h2>City guides</h2>
          </div>
          <div class="row">
            <p>Growing your business takes new ideas, the right talent, and so much more.</p>
          </div>
          <div class="row">
            <div class="blog col-lg-6 col-md-6 col-sm-12 pl-0">
              <div class="blog-container">
                <img src="assets/images/blog-img-1.png" alt="img">
                <div class="blog-content-wrapper">
                  <h5>10 best videoconferencing software for remote teams</h5>
                  <p>We review the most popular solutions so that you can jump straight into working</p>
                </div>
              </div>
            </div>
            <div class="blog col-lg-6 col-md-6 col-sm-12 pl-0">
              <div class="blog-container">
                <img src="assets/images/blog-img-2.png" alt="img">
                <div class="blog-content-wrapper">
                  <h5>How to host a virtual conference while social distancing</h5>
                  <p>Holding a virtual conference now supports your industry and creates re actionships that can outlast a crisis</p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="worklife" class="growth-section">
          <div class="row">
            <h2>Work Life</h2>
          </div>
          <div class="row">
            <p>International design can inspire, foster community, and drive productivity.</p>
          </div>
          <div class="row">
            <div class="blog col-lg-6 col-md-6 col-sm-12 pl-0">
              <div class="blog-container">
                <img src="assets/images/blog-img-1.png" alt="img">
                <div class="blog-content-wrapper">
                  <h5>10 best videoconferencing software for remote teams</h5>
                  <p>We review the most popular solutions so that you can jump straight into working</p>
                </div>
              </div>
            </div>
            <div class="blog col-lg-6 col-md-6 col-sm-12 pl-0">
              <div class="blog-container">
                <img src="assets/images/blog-img-2.png" alt="img">
                <div class="blog-content-wrapper">
                  <h5>How to host a virtual conference while social distancing</h5>
                  <p>Holding a virtual conference now supports your industry and creates re actionships that can outlast a crisis</p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- page content ends here -->
  <app-footer></app-footer>
</div>
