<app-menu></app-menu>
<div class="slider_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12  pl-0 pr-0">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img class="d-block slider-image w-100" src="assets/images/slider1.jpg" alt="First slide">
              <div class="carousel-caption d-md-block slider-info">
                <h1>CUSTOMIZE OFFICE SPACE </h1>
                <p>for 50 seats</p>
                <a href="#" class="btn slider-cta-btn">Attic Symbiosis</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features_section">
  <div class="container">
    <div class="row">
      <div class="float-left fix-w-280">
        <h3>
          <img src="assets/images/feature_icon1.png" alt="icon"> 100%
        </h3>
        <p>Custom Made</p>
      </div>
      <div class="float-right fix-w-280">
        <h3>
          <img src="assets/images/feature_icon2.png" alt="icon"> 70%
        </h3>
        <p>Less Move-In Time</p>
      </div>
      <div class="float-left fix-w-280">
        <h3>
          <img src="assets/images/feature_icon3.png" alt="icon"> 90 Days
        </h3>
        <p>Lock-In Time</p>
      </div>
      <div class="float-right fix-w-280">
        <h3>
          <img src="assets/images/feature_icon4.png" alt="icon"> 100%
        </h3>
        <p>Fully Managed & Service Office</p>
      </div>
      <div class="float-left fix-w-280">
        <h3 class="d-inline-flex">
          <img src="assets/images/feature_icon5.png" alt="icon"> Calculate
        </h3>
        <div class="col-12 d-inline-flex p-0">
          <p class="col-10 p-0">Saving with Attic Space</p>
          <a href="#" class="col-2"> <img src="assets/images/home-next-icn.png" alt="click menu_1"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="designed_for_you_section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12 ">
        <div class="float-left">
          <h2>Designed for You.</h2>
        </div>
        <div class="float-right designed_section_list">
          <ul class="navbar-nav">
            <li><span>-</span>Roll it out and instantly park</li>
            <li><span>-</span>Re-use it on multiple sites</li>
            <li><span>-</span>Event Parking, Overflow, Vehicle Storage</li>
            <li><span>-</span>Daily, temporary use <span>1-3 years</span></li>
            <li><span>-</span>Daily, long term use <span>4-10 years</span></li>
          </ul>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <img src="assets/images/designed_for_you.png" class="img img-fluid" alt="designed-for-you">
      </div>
    </div>
  </div>
</div>

<div class="clients_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1>Over 10000 Professionals are using<br/><span>Attic Space</span> for Companies Like </h1>
      </div>
    </div>
    <div class="row" style="padding:30px 0px;">
      <p class="clients_logos">
        <img src="assets/images/client_1.jpg" alt="client" class="img img-fluid">
        <img src="assets/images/client_2.jpg" alt="client" class="img img-fluid">
        <img src="assets/images/client_3.jpg" alt="client" class="img img-fluid">
        <img src="assets/images/client_4.jpg" alt="client" class="img img-fluid">
        <img src="assets/images/client_5.jpg" alt="client" class="img img-fluid">
        <img src="assets/images/client_6.jpg" alt="client" class="img img-fluid">
        <img src="assets/images/client_7.jpg" alt="client" class="img img-fluid">
      </p>
      <div class="row col-md-12">
        <div class="col case-study-div">
          <a href="#">See all case studies</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="case_study_section">
  <div class="container">
    <div class="row">
      <div class="col-md-7 big-case-study">
        <img src="assets/images/client_7.jpg" alt="client" class="img img-fluid">
        <h3>“We achieved a cost-savings project while achieving cultural transformation to collaborate better together.”</h3>
        <p>FRANCIS VAN PARYS, PRESIDENT AND CEO, GE HEALTHCARE KOREA</p>
        <a href="#">Learn more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      </div>
      <div class="col-md-5">
        <div class="case_study_box">
          <span class="case-study-1"></span>
          <h3>“We achieved a cost-savings project while achieving cultural transformation to collaborate better together.”</h3>
          <p>FRANCIS VAN PARYS, PRESIDENT AND CEO, GE HEALTHCARE KOREA</p>
          <a href="#">Learn more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
        <div class="case_study_box">
          <span class="case-study-2"></span>
          <!-- <img src="assets/images/client_5.jpg" alt="client" class="img img-fluid"> -->
          <h3>“We achieved a cost-savings project while achieving cultural transformation to collaborate better together.”</h3>
          <p>FRANCIS VAN PARYS, PRESIDENT AND CEO, GE HEALTHCARE KOREA</p>
          <a href="#">Learn more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="map_section">
  <div class="container">
    <div class="row">
      <div class="maps col-sm-12 col-md-12 col-lg-3">
        <div class="map_item_box col-sm-12 col-md-3 col-lg-12">
          <h3>
            <img src="assets/images/map_icon1.png" alt="map_icons"> 30
          </h3>
          <p>employees</p>
        </div>
        <div class="map_item_box col-sm-12 col-md-3 col-lg-12">
          <h3>
            <img src="assets/images/map_icon2.png" alt="map_icons"> 13
          </h3>
          <p>locations</p>
        </div>
        <div class="map_item_box col-sm-12 col-md-3 col-lg-12">
          <h3>
            <img src="assets/images/map_icon3.png" alt="map_icons"> 15
          </h3>
          <p>months we <br/> we are operating</p>
        </div>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 map_items bangalore-map">
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link active" href="#">ATTIC GREENAGE</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">ATTIC LOTUS</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">ATTIC MONETA</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">ATTIC VISTARA</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">ATTIC ASPIRE</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">ATTIC PLAZA</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">ATTIC KRISHVI</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">ATTIC SYMBIOSIS</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">ATTIC TRISHUL</a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 map_items hydrabad-map">
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link active" href="#">ATTIC GREENAGE</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">ATTIC LOTUS</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">ATTIC MONETA</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">ATTIC VISTARA</a></li>
          <li class="nav-item"><a class="nav-link active" href="#">ATTIC ASPIRE</a></li>
        </ul>
      </div>
    </div>
  </div>
</div>

<div class="more-features">
  <div class="container">
    <div class="row">
      <div class="col-md-7  ">
        <div class="headings">
          <h2>What to expect?</h2>
        </div>
        <div class="heading-right">
          <h2>A turnkey solution</h2>
        </div>
        <div class="move-in-desc">
          <p>From design to installation, Rollpark can handle every aspect of the job: site procurement, civil engineering, geotechnical engineering, design, site preparation, and installation.</p>
        </div>
        <a href="#" class="move-in-process">Move-in Process <i class="fa fa-arrow-right"></i></a>
      </div>
      <div class="col-md-5 more-feature-right">
        <img src="assets/images/move-in.jpg" alt="move-in" class="img img-fluid">
      </div>
    </div>
  </div>
</div>

<div class="container custom-padding">
  <div class="row">
    <div class="col">
      <h2 class="secheading">Have more questions about Attic Space Bangalore?<br><span class="underline-title">We have the answer</span></h2>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-8 col-md-12 col-sm-12 faq-section">
      <div id="accordion">
        <div class="card">
          <div class="card-header col-12 d-inline-flex" id="headingOne">
            <h5 class="col-11 accordian_title mb-0 pl-0">What is Net Total Contract Value (TCV)? </h5>
            <button class=" col-1 btn btn-link float-right" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="fa fa-plus" style="color: #212529;"></i></button>
          </div>
          <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header col-12 d-inline-flex" id="headingOne">
            <h5 class="col-11 accordian_title mb-0 pl-0">What is included in the Total Contract Value (TCV)?</h5>
            <button class=" col-1 btn btn-link float-right" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
              <i class="fa fa-plus" style="color: #212529;"></i>
            </button>
          </div>
          <div id="collapseTwo" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header col-12 d-inline-flex" id="headingOne">
            <h5 class="col-11 accordian_title mb-0 pl-0">What happens if my client moves out of WeWork prior to their full commitment term? </h5>
            <button class=" col-1 btn btn-link float-right" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
              <i class="fa fa-plus" style="color: #212529;"></i>
            </button>
          </div>
          <div id="collapseThree" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header col-12 d-inline-flex" id="headingOne">
            <h5 class="col-11 accordian_title mb-0 pl-0">What if the contract includes early exit options? How does this differ from termination fees? </h5>
            <button class=" col-1 btn btn-link float-right" data-toggle="collapse" data-target="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
              <i class="fa fa-plus" style="color: #212529;"></i>
            </button>
          </div>
          <div id="collapseFour" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>
        <div class="card">
          <div class="card-header col-12 d-inline-flex" id="headingOne">
            <h5 class="col-11 accordian_title mb-0 pl-0">What information do I need to provide to submit an introduction?</h5>
            <button class=" col-1 btn btn-link float-right" data-toggle="collapse" data-target="#collapseFive" aria-expanded="true" aria-controls="collapseFive">
              <i class="fa fa-plus" style="color: #212529;"></i>
            </button>
          </div>
          <div id="collapseFive" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
            <div class="card-body">
              craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard of them accusamus labore sustainable VHS.
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
<app-footer></app-footer>
