<app-menu></app-menu>
<div class="slider_section">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12  pl-0 pr-0">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
          </ol>
          <div class="carousel-inner">
            <div *ngFor="let banner of banners; let i = index;" [class]="(i == 0) ? 'carousel-item active' : 'carousel-item'">
              <img class="d-block slider-image w-100" [src]="banner.image" >
              <div class="carousel-caption d-md-block slider-info">
                <h1>CUSTOMIZE OFFICE SPACE</h1>
                <p>{{ banner.title }}</p>
                <a [routerLink]="['/office-space/'+banner.locationSlug+'/' +banner.propertySlug]" class="btn slider-cta-btn">{{ banner.propertyName }}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="features_section">
  <div class="container">
    <div class="row">
      <div class="float-left fix-w-280">
        <h3>
          <img src="assets/images/feature_icon1.png" alt="icon"> 100%
        </h3>
        <p>Custom Made</p>
      </div>
      <div class="float-right fix-w-280">
        <h3>
          <img src="assets/images/feature_icon2.png" alt="icon"> 70%
        </h3>
        <p>Less Move-In Time</p>
      </div>
      <div class="float-left fix-w-280">
        <h3>
          <img src="assets/images/feature_icon3.png" alt="icon"> 90 Days
        </h3>
        <p>Lock-In Time</p>
      </div>
      <div class="float-right fix-w-280">
        <h3>
          <img src="assets/images/feature_icon4.png" alt="icon"> 100%
        </h3>
        <p>Fully Managed & Service Office</p>
      </div>
      <div class="float-left fix-w-280">
        <h3 class="d-inline-flex">
          <img src="assets/images/feature_icon5.png" alt="icon"> Calculate
        </h3>
        <div class="col-12 d-inline-flex p-0">
          <p class="col-10 p-0">Saving with Attic Space</p>
          <a href="javascript:void(0);" class="col-2 modal-trigger4"> <img src="assets/images/home-next-icn.png" alt="click menu_1"></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="designed_for_you_section">
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-sm-12 ">
        <div class="float-left">
          <h1>{{ step1.title }}</h1>
        </div>
        <div class="float-right designed_section_list">
          <span style="color: #000000;" [innerHTML]="step1.description"></span>
        </div>
      </div>
      <div class="col-md-4 col-sm-12">
        <img [src]="step1.image" class="img img-fluid" [attr.alt]="step1.title">
      </div>
    </div>
  </div>
</div>

<div class="clients_section">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h1 style="font-family: ApercuProRegular;font-weight: bold;font-size: 60px;" [innerHTML]="step2.title"></h1>
      </div>
    </div>
    <div class="row" style="padding:30px 0px;">
      <p class="clients_logos">
        <img *ngFor="let image of images" [src]="image" alt="client" class="img img-fluid">
      </p>
      <div class="row col-md-12"><br>
        <div class="col-sm-6 col-lg-6">
<!--          <h1 class="float-left">They Are Saying..</h1>-->
        </div>
        <div class="col case-study-div col-sm-6 col-lg-6">
          <a href="javascript:void(0);">See all case studies</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="case_study_section" *ngIf="studyDiv">
  <div class="container" *ngIf="false">
    <div class="row">
      <div class="col-md-7 big-case-study">
        <img [src]="step5First.image" alt="client" class="img img-fluid">
        <h3>{{ step5First.title }}</h3>
        <p>{{ step5First.sub_title }}</p>
        <a href="javascript:void(0);">Learn more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
      </div>
      <div class="col-md-5">
        <div class="case_study_box" *ngFor="let step of step5Second">
          <span class="case-study-2" [ngStyle]="{'background-image':'linear-gradient(to right, #f7f7f7 0%, #f7f7f7 100%), url(' + step.image + ')'}" ></span>
          <h3>{{ step.title }}</h3>
          <p>{{ step.sub_title }}</p>
          <a href="javascript:void(0);">Learn more <i class="fa fa-arrow-right" aria-hidden="true"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="map_section">
  <div class="container">
    <div class="row">
      <div class="maps col-sm-12 col-md-12 col-lg-3">
        <div class="map_item_box col-sm-12 col-md-3 col-lg-12">
          <h3>
            <img src="assets/images/map_icon1.png" alt="map_icons"> {{ step3.employees }}
          </h3>
          <p>employees</p>
        </div>
        <div class="map_item_box col-sm-12 col-md-3 col-lg-12">
          <h3>
            <img src="assets/images/map_icon2.png" alt="map_icons"> {{ step3.locations }}
          </h3>
          <p>locations</p>
        </div>
        <div class="map_item_box col-sm-12 col-md-3 col-lg-12">
          <h3>
            <img src="assets/images/map_icon3.png" alt="map_icons"> {{ step3.months }}
          </h3>
          <p>months we <br/> we are operating</p>
        </div>
      </div>
      <div *ngFor="let city of cities;let i = index;" [class]="(i==0) ? 'col-sm-12 col-md-6 col-lg-3 map_items bangalore-map' : 'col-sm-12 col-md-6 col-lg-3 map_items hydrabad-map'">
        <ul class="nav flex-column">
          <li class="nav-item" *ngFor="let property of city.properties"><a class="nav-link active" [routerLink]="['/office-space/'+ property.locationSlug+'/'+property.slug]">{{ property.name }}</a></li>
          <li style="list-style: none;" class="nav-item" *ngFor='let in of counter(((i == 0) ?  9 - city.properties.length : 5 - city.properties.length) ) ;let j = index'><a class="nav-link active" href="javascript:void(0);">&nbsp;</a></li>
        </ul>
      </div>
      <!--<div class="col-sm-12 col-md-6 col-lg-3 map_items bangalore-map">
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link active" href="javascript:void(0);">ATTIC GREENAGE</a></li>
          <li class="nav-item"><a class="nav-link active" href="javascript:void(0);">ATTIC LOTUS</a></li>
          <li class="nav-item"><a class="nav-link active" href="javascript:void(0);">ATTIC MONETA</a></li>
          <li class="nav-item"><a class="nav-link active" href="javascript:void(0);">ATTIC VISTARA</a></li>
          <li class="nav-item"><a class="nav-link active" href="javascript:void(0);">ATTIC ASPIRE</a></li>
          <li class="nav-item"><a class="nav-link active" href="javascript:void(0);">ATTIC PLAZA</a></li>
          <li class="nav-item"><a class="nav-link active" href="javascript:void(0);">ATTIC KRISHVI</a></li>
          <li class="nav-item"><a class="nav-link active" href="javascript:void(0);">ATTIC SYMBIOSIS</a></li>
          <li class="nav-item"><a class="nav-link active" href="javascript:void(0);">ATTIC TRISHUL</a></li>
        </ul>
      </div>
      <div class="col-sm-12 col-md-6 col-lg-3 map_items hydrabad-map">
        <ul class="nav flex-column">
          <li class="nav-item"><a class="nav-link active" routerLink="/property/attic-hitech">Attic Hitech</a></li>
          <li class="nav-item"><a class="nav-link active" href="javascript:void(0);">&nbsp;</a></li>
          <li class="nav-item"><a class="nav-link active" href="javascript:void(0);">&nbsp;</a></li>
          <li class="nav-item"><a class="nav-link active" href="javascript:void(0);">&nbsp;</a></li>
          <li class="nav-item"><a class="nav-link active" href="javascript:void(0);">&nbsp;</a></li>
        </ul>
      </div>-->
    </div>
  </div>
</div>

<div class="more-features">
  <div class="container">
    <div class="row">
      <div class="col-md-7  ">
        <div class="headings">
          <h2>{{ step4.title }}</h2>
        </div>
        <div class="heading-right">
          <h2>{{ step4.sub_title }}</h2>
        </div>
        <div class="move-in-desc">
          <p>{{ step4.description }}</p>
        </div>
        <a href="javascript:void(0);" class="modal-trigger2 move-in-process">Schedule a call now <i class="fa fa-arrow-right"></i></a>
      </div>
      <div class="col-md-5 more-feature-right">
        <img [src]="step4.image" alt="move-in" class="img img-fluid">
      </div>
    </div>
  </div>
</div>

<app-footer></app-footer>
