<app-menu></app-menu>
<div class="page-content">
  <section class="landload_first_section" style="background-color: #ffffff;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12" align="center">
          <h2>{{ step1.title }}</h2>
          <div class="divider_img">
            <img src="assets/images/divider.jpg" alt="">
          </div>
          <h3>{{ step1.sub_title }}</h3>
        </div>
      </div>

      <div class="row">
        <div class="column_box_wrap col-md-4 col-sm-12 text-center" *ngFor="let landLoad of landLoads;">
          <div class="column_box_wrap">
            <img [src]="landLoad.image">
            <span>{{ landLoad.title }}</span>
            <p>{{ landLoad.sub_title }}</p>
          </div>
        </div>

        <div class="divider_img">
          <img src="assets/images/divider.jpg" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="nine_section" style="background-color: #ffffff;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>{{ step2.title }}</h1>
          <p>{{ step2.sub_title }}</p>
        </div>
      </div>

      <div class="msg-success" *ngIf="contactFormDivMessage">
        <p>{{ contactMessage }}</p>
      </div>

      <form *ngIf="contactFormDiv" autocomplete="off" [formGroup]="form" (submit)="onSubmit()">
        <div class="row">
          <div class="col-lg-4" [ngClass]="{
            'has-error': (form.get('name').hasError('required') || errors.name) && form.get('name').touched
          }">
            <input type="text" class="form-control" placeholder="Full name*" autocomplete="off" formControlName="name" required>
            <em class="has-error" *ngIf="form.get('name').hasError('required') && form.get('name').touched">
              Full Name is required
            </em>
          </div>
          <div class="col-lg-4" [ngClass]="{
            'has-error': (form.get('email').hasError('required') || errors.email) && form.get('email').touched
          }">
            <input type="email" class="form-control" placeholder="Work email*" autocomplete="off" formControlName="email" required>
            <em  class="has-error" *ngIf="form.get('email').hasError('required') && form.get('email').touched">
              Email is required
            </em>
            <em class="has-error" *ngIf="form.get('email').hasError('pattern')">
              Email is invalid
            </em>
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4" [ngClass]="{
            'has-error': (form.get('mobile').hasError('required') || errors.mobile) && form.get('mobile').touched
          }">
            <input type="text" class="form-control mobile" placeholder="Phone Number*" autocomplete="off" formControlName="mobile" required maxlength="10">
            <em class="has-error" *ngIf="form.get('mobile').hasError('required') && form.get('mobile').touched">
              Mobile is required
            </em>
          </div>
          <div class="col-lg-4" [ngClass]="{
            'has-error': (form.get('area').hasError('required') || errors.area) && form.get('area').touched
          }">
            <input type="text" class="form-control" placeholder="Area*" autocomplete="off" formControlName="area" required>
            <em class="has-error" *ngIf="form.get('area').hasError('required') && form.get('area').touched">
              Area is required
            </em>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4" [ngClass]="{
            'has-error': (form.get('landmark').hasError('required') || errors.landmark) && form.get('landmark').touched
          }">
            <input type="text" class="form-control" placeholder="LandMark*" autocomplete="off" formControlName="landmark" required >
            <em class="has-error" *ngIf="form.get('landmark').hasError('required') && form.get('landmark').touched">
              LandMark is required
            </em>
          </div>
          <div class="col-lg-4" [ngClass]="{
            'has-error': (form.get('city').hasError('required') || errors.city) && form.get('city').touched
          }">
            <input type="text" class="form-control" placeholder="City*" autocomplete="off" formControlName="city" required>
            <em class="has-error" *ngIf="form.get('city').hasError('required') && form.get('city').touched">
              City is required
            </em>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-4" [ngClass]="{
            'has-error': (form.get('zipcode').hasError('required') || errors.zipcode) && form.get('zipcode').touched
          }">
            <input type="text" class="form-control mobile" placeholder="Zipcode*" autocomplete="off" formControlName="zipcode" required maxlength="6">
            <em class="has-error" *ngIf="form.get('zipcode').hasError('required') && form.get('zipcode').touched">
              Zipcode is required
            </em>
          </div>
        </div>
        <div class="row col-12 m-auto text-left">
          <div>
            <input type="checkbox" (change)="onItemChange($event)" formControlName="checkbox" style="height: 23px;"  class="form-check-input" id="exampleCheck2" value="1"> <p class="form-check-label" style="margin: 0;" for="exampleCheck2">{{ termsText }}</p>
            <em class="has-error" *ngIf="form.get('checkbox').hasError('required') && form.get('checkbox').touched">
              Terms & Condition required.
            </em>
          </div>
        </div>
        <div class="row submit_btn_wrap" style="margin-top: 20px;">
          <div class="col-lg-12">
            <button type="submit" class="btn btn-primary" [disabled]="!form.valid">Get in touch</button>
          </div>
        </div>
      </form>


    </div>
  </section>
  <div><br></div>
  <app-footer></app-footer>
</div>

