<app-menu></app-menu>
<div class="page-content">
  <section class="landload_first_section" style="background-color: #ffffff;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h2>REGUS MAKES IT EASIER FOR YOU TO DO MORE BUSINESS</h2>
          <div class="divider_img">
            <img src="assets/images/divider.jpg" alt="">
          </div>
          <h3>We've helped thousands of agents both large and small. We can help you to...</h3>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-sm-12 text-center">
          <div class="column_box_wrap">
            <img src="assets/images/icon_1.png" alt="">
            <span>Find the right office space for your clients</span>
            <p>The widest choice of offices in your areas, with impressive new interiors and a range of workspace to meet your clients' needs.</p>
          </div>
        </div>
        <div class="col-md-4 col-sm-12 text-center">
          <div class="column_box_wrap">
            <img src="assets/images/icon_2.png" alt="">
            <span>Save time</span>
            <p>With support from a dedicated agent helpdesk and simple, flexible agreements.</p>
          </div>
        </div>
        <div class="column_box_wrap col-md-4 col-sm-12 text-center">
          <div class="column_box_wrap">
            <img src="assets/images/icon_1.png" alt="">
            <span>Earn money quickly</span>
            <p>A dedicated agent helpdesk open every day, with 10% commission, 21 day deal cycles and fees paid within 30 days.</p>
          </div>
        </div>

        <div class="divider_img">
          <img src="assets/images/divider.jpg" alt="">
        </div>
      </div>
    </div>
  </section>
  <section class="second_section" style="background-color: #ffffff;">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <h1>Ready to partner?</h1>
          <p>We are committed to helping you close the best deals for your clients. Give us a call or submit your information below to connect with a broker representative, enquire about available inventory and find out how we can work better, together.</p>
        </div>
      </div>

      <form>
        <div class="row">
          <div class="col-lg-4">
            <input type="text" class="form-control" placeholder="Full name*">
          </div>
          <div class="col-lg-4">
            <input type="email" class="form-control" placeholder="Work email*">
          </div>
        </div>

        <div class="row">
          <div class="col-lg-4">
            <label for="" class="top_label">How Many Seats? *</label>
            <select class="form-control">
              <option>50 Members</option>
            </select>
          </div>
          <div class="col-lg-4">
            <label for="" class="top_label">Market  *</label>
            <select class="form-control">
              <option>Gurugram</option>
            </select>
          </div>
        </div>

        <div class="row submit_btn_wrap">
          <div class="col-lg-12">
            <button type="submit" class="btn btn-primary">Get in touch</button>
          </div>
        </div>
      </form>


    </div>
  </section>
  <div><br></div>
  <app-footer></app-footer>
</div>

