<app-menu></app-menu>
<div class="page-content" style="padding: 0px;margin-top: 25px;">
  <!-- Slider section start here -->
  <div class="container">
    <div class="row">
      <div class="position-sticky col-4 text-center">
        <div class="msg-success" *ngIf="contactFormDivMessage">
          <p>{{ contactMessage }}</p>
        </div>
        <div class="Subscribe-space" *ngIf="contactFormDiv">
          <h4 class="text-left mb-3">{{ step6.sub_title }}</h4>
          <form class="subscribeform pb-3" autocomplete="off" [formGroup]="form" (submit)="onSubmit()">
            <div class="row col-12 m-auto text-left">
              <div class="subscribe-form-group col-lg-12 col-md-12 " [ngClass]="{
                'has-error': (form.get('email').hasError('required') || errors.email) && form.get('email').touched
              }">
                <label>EMAIL ADDRESS*</label>
                <input type="email " class="subscribe-form-control" placeholder="" autocomplete="off" formControlName="email" required>
                <em class="has-error" *ngIf="form.get('email').hasError('required') && form.get('email').touched">
                  Email is required
                </em>
                <em class="has-error" *ngIf="form.get('email').hasError('pattern')">
                  Email is invalid
                </em>
              </div>
              <div class="subscribe-form-group col-lg-12 col-md-12 "[ngClass]="{
                'has-error': (form.get('name').hasError('required') || errors.name) && form.get('name').touched
              }">
                <label>NAME*</label>
                <input type="text " class="subscribe-form-control" placeholder="" autocomplete="off" formControlName="name" required>
                <em class="has-error" *ngIf="form.get('name').hasError('required') && form.get('name').touched">
                  Full Name is required
                </em>
              </div>
            </div>
            <div class="row col-12 m-auto text-left">
              <div class="subscribe-form-group col-12" [ngClass]="{
                'has-error': (form.get('phone').hasError('required') || errors.phone) && form.get('phone').touched
              }">
                <label>PHONE NUMBER*</label>
                <input type="text" class="subscribe-form-control contact" autocomplete="off" formControlName="phone" required maxlength="10">
                <em class="has-error" *ngIf="form.get('phone').hasError('required') && form.get('phone').touched">
                  Phone is required
                </em>
              </div>
            </div>
            <div class="row col-12 m-auto text-left">
              <div class="subscribe-form-group col-12">
                <button type="submit" class="btn subscribe-btn" [disabled]="!form.valid">SUBSCRIBE</button>
<!--                <a href="" class="btn subscribe-btn"> SUBSCRIBE</a>-->
              </div>
            </div>
          </form>
        </div>
      </div>
      <div class="col-lg-8 col-md-12 w-width">
        <div class="search-section">
          <div class="row">
            <ul class="list-unstyled d-inline-flex" id="one-pagenav">
              <li *ngFor="let category of blog.categories;"><a href="javascript:void(0);" [class]="(blog.category_id === category.id) ? 'active' : ''"> {{ category.name }} </a></li>
              <!--<li><a href="#officedesign"> Office design & space</a></li>
              <li><a href="#cityguides"> City guides</a></li>
              <li><a href="#worklife"> Work life</a></li>-->
            </ul>
          </div>
          <div class="row">
            <div class="input-group pl-0">
              <input class="form-control" type="text" placeholder="Search Article" aria-label="Search" (keyup)="searchBlog($event.target.value)">
              <div class="input-group-append">
                <span class="input-group-text" id="basic-text1"><img src="assets/images/search-icn.png" alt=""></span>
              </div>
            </div>
            <div [class]="(searchTotal > 0) ? 'searched visible' : 'visible'">
              <div class="search-item cursor-pointer" *ngFor="let searchBlog of searchBlogs;" [routerLink]="['/ideas/'+ searchBlog.slug]">
                <div class="search-content">
                  <h6>{{ searchBlog.title }}</h6>
                </div>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="blog-image-container">
              <h2>{{ blog.title }}</h2>
              <p>{{ blog.sub_title }}</p>
              <img [src]="blog.image" alt="">
<!--              <img src="assets/images/search-img.png" alt="img">-->
            </div>
            <span [innerHTML]="blog.description"></span>
            <div class="author-section">
              <div class="author-id">
                <h6 class="author-name">{{ blog.name }}</h6>
                <p class="position">{{ blog.designation }}</p>
                <p class="date"> {{ blog.date }}</p>
                <div class="social-icons">
                  <a title="Share article on Facebook" href="javascript:void(0);"><i class="fab fa-facebook-f"></i></a>
                  <a title="Share article on Twitter" href="javascript:void(0);"><i class="fab fa-twitter"></i></a>
                  <a title="Share article on Instagram" href="javascript:void(0);"><i class="fab fa-instagram"></i></a>
                  <a title="Share article on Linked-In" href="javascript:void(0);"><i class="fab fa-linkedin-in"></i></a>
                </div>
              </div>
              <div class="author-message">
                <p class="quote">{{ blog.writer_description }}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <section class="related-blog">
    <div class="row">
      <div class="container">
        <h2>Related Articles</h2>
        <div class="article-container" style="margin-left: -15px;">
          <div class="article col-md-4 col-sm-12 cursor-pointer" *ngFor="let releventBlog of blog.relevents;" [routerLink]="['/ideas/'+ releventBlog.slug]">
            <div class="article-img" [style.backgroundImage]="'url('+ releventBlog.image +')'"></div>
            <div class="article-details">
              <h4 class="article-title">{{ releventBlog.title }}</h4>
              <p class="article-description">{{ releventBlog.sub_title }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <div class="bottom-bar">
    <button type="button" class="btn btn-primary w-100" id="subscribeBtn">Subscribe</button>
  </div>
  <!-- page content ends here -->
  <!-- footer starts Here -->
  <app-footer></app-footer>
</div>
